@charset "utf-8";

/*	CSS Document Written by by Front-End Developer's Team of StapleLogic (http://www.staplelogic.com)
*	In this file you will find all the classes used in site with proper comments.
*	This file is copyright to StapleLogic and no reproduction of this file is allowed without the prior written permission from StapleLogic
*	Version of file : V1.0
*/

/*-------Font-------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Signika);

/*
@font-face {
    font-family: 'bebasregular';
    src: url('../bebas___-webfont.eot');
    src: url('../bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bebas___-webfont.woff2') format('woff2'),
         url('../bebas___-webfont.woff') format('woff'),
         url('../bebas___-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} */
/*----------------------------------Start Reset-------------------------------------*/
html, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav, section, summary, time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Signika', sans-serif;
}
p {
    font-family: 'Signika', sans-serif;
    font-size: 13px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjusSignikaRegulart: 100%;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}
a {
    text-decoration: none;

}
li {
    list-style: none;
}
input {
    border: none;
    cursor: auto;
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
a, button, a:active, button:active, a:focus, button:focus, a:hover, button:hover {
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}
input, input:active, input:focus, input:hover, textarea:hover, textarea:active, textarea:focus, textarea {
    outline: none;
    /*-webkit-appearance: none;*/
}
textarea {
    resize: none;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 0;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    vertical-align: middle;
    outline: none;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "bebasregular";
  font-style: normal;
  font-weight: normal;
}
.pie {
    behavior: url(PIE.htc);
    position: relative;
}
.full-width {
    margin: 0;
    padding: 0;
    width: 100%;
}
.form-control:focus {
    border-color: #d0d0d0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    outline-offset: 0;
}
.clear {
    clear:both;
}
/*----------------------------------Reset End-------------------------------------*/
/*----------------------------------BootStrap Overite Start-------------------------------------*/
ol, ul {
    margin:0;
}
* {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
/*----------------------------------BootStrap Overite End-------------------------------------*/
.totop {
    background-image: url("../images/top-arrow.png");
    bottom: 15px;
    cursor: pointer;
    display: none;
    height: 38px;
    position: fixed;
    right: 15px;
    width: 38px;
}
.totop:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)";
    filter: alpha(opacity=0.8);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
}
.item {
    display: block;
    float: left;
    width: 220px;
    margin: 0 0 5px;
    padding: 10px 15px;
    -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}

.item img{
    width:100%;
}

.featured {
    width:705px;
}
#masonry {
    padding: 5px;
    clear: both;
    margin-bottom: 20px;
}

#main_container {
    width:100%;
}
.logo {
    text-align:center;
    padding:4px 0 8px;
}
nav {
    background-color: #fff;
    border-top: 1px solid #f2c400;
    bottom: auto !important;
    height: 31px;
    padding: 0 100px;
    position: fixed;
    top: 20px !important;
    width: 100% !important;
    z-index: 999;
    float: left;
}
nav ul li {
    display: inline-block;
    float: left;
    position:relative;

}
nav ul li a {
    color: #000;
    display: block;
    font-size: 83%;
    padding: 10px 7px;
    text-transform: uppercase;
    /*-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;*/
    font-family: 'bebasregular';
    height: 30px;
}
.sub-menu li {
    color: #000;
    display: block;
    font-size: 83%;
    text-transform: uppercase;
    /*-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;*/
    font-family: 'bebasregular';
    height: 30px;
	background:#fff;
}
.sub-menu li  a{
	line-height: 19px;
    padding: 0 20px;
}
.profile-name{
    color: #000;
    display: inline-block;
    font-size: 83%;
    padding: 10px 7px;
    text-transform: uppercase;
    /*-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;*/
    font-family: 'bebasregular';
    height: 30px;
}

nav ul li.act a, nav.test ul li.act a,nav.navevent-detail ul li.act a {
    background-color:#f2c400;
    color: #000;
    height:30px;
}
nav ul li a:hover {
    background-color: #f2c400;
    color: #000;
    text-decoration: none;
    height:30px;
}
ul.right-media li.language a:hover {
    color: #F2C400;
}
nav .right-media li ul li {
    width: 100%;
}
.sub-menu a {
    font-size: 13px;
}
nav .right-media ul.sub-menu,nav .right-nav ul.sub-menu {
    display: none;
    position: absolute;
    right: 0;
    width: 150px;
    z-index: 99;
}
li.dots-drop .sub-menu a {
    font-size: 13px;
     padding: 10px 8px;
}
nav .right-media li:hover > ul.sub-menu,nav .right-nav li:hover > ul.sub-menu {
    border-top: 2px solid #f2c400;
    display: block;
    margin: 0;
}
.right-nav .sub-menu li {
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.right-nav .sub-menu {
  background:#f7f7f7;
}
.right-nav .sub-menu a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.right-nav .sub-menu img {
  border-radius: 50px;
  float: left;
  height: 40px;
  margin: 14px 55px;
  width: 40px;
}
.announce {
  background: #f2c400;
  bottom: 42px;
  color: #000;
  font-size: 14px;
  padding: 10px 25px;
  height: 30px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  float: left;
  font-family: 'bebasregular';
}
.announce:hover,.put-cmt input:hover,#pay_now:hover,#pay_from_card:hover,#cash_on_deleivery:hover,.btn-card-info:hover{
    background: #000;
    color: #fff;cursor: pointer;
}
.main-nav {
    float: left;
}
.right-nav {
    float: right;
    margin: 0 1% 0 0;
}
.slider {
    float: left;
    margin: 0 0 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider .bx-wrapper {
    height: 538px;
}
.search {
    margin: 0 auto;
    width: 1250px;
}
.sld-search {
    bottom: 40px;
    position: absolute;
    z-index: 99;
}
.sld-search select {
  border: 1px solid #ddd;
  color: #444;
  float: left;
  height: 39px;
  margin: 0;
  padding: 0 8px;
  width: 173px;
  background: #fff;
}
.sld-search input {
    border: 1px solid #ddd;
    height: 39px;
    padding: 0 11px;
    float: left;
}
.sld-search img {
    position: absolute;
    right: 8px;
    top: 9px;
}
.right-media a {
    font-size: 22px;
    padding: 2px 6px;
}
.shadow {
    background-image: url("../images/banner-shadow.png");
    height: 100%;
    left: 0;
    position: absolute;
    bottom:0;
    width: 100%;
}
.facebook {
    right:0 !important;
    top:0 !important;
    left: auto !important;
    position:absolute;
    background-color:#000;
    color:#fff;
}
.right-media {
    float:right;
}
.right-media li.language {
  color: #000;
  font-size: 14px;
  line-height: 10px;
  padding: 8px 2px;
  position: relative;
}
.right-media li.language a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: right;
  font-size: 14px;
  padding: 0 3px;
  line-height: 15px;
}
.right-media li.dots-drop a i {
    color: #f2c400;
    font-size: 10px;
    padding: 0 2px;
}
.right-media li.dots-drop a:hover, .right-media li.language a:hover {
    background:none;
    color:#fff;
}
li.dots-drop .sub-menu a:hover {
    background:#F2C400;
    color:#000;
}
.right-media li.dots-drop > a {
    padding: 0 0 9px;
    position: relative;
    top: 0;
    background: none;
    line-height: 1;
}
.boxes {
    border-bottom: 2px dotted #000;
}
.boxes:hover {
    box-shadow: 0 0 8px #b5b5b5;
    border:none;
}
.boxes h1 {
  color: #000;
  font-size: 15px;
  line-height: 25px;
  padding: 6px 6px 0;
  width: 95%;
}
.boxes span {
    float: left;
    padding: 6px;
}
.boxes span .fa {
    color: #3c3c3c;
}
.sld-search .date {
    margin: 0;
}
.date {
    color: #444;
    font-size: 14px;
    position: relative;
    margin: 8px 0 0;
      float: left;
}
.sld-search .submit {
  background: #f2c400 none repeat scroll 0 0;
  border: medium none;
  font-family: "bebasregular";
  height: 39px;
  margin: 0 0 0 -4px;
  padding: 14px 63px;
  transition: all 0.5s ease 0s;
}
.sld-search .submit:hover {
    background: none repeat scroll 0 0 #222;
    color: #fff;
    cursor: pointer;
}
.date img {
  position: absolute;
  right: 10px;
  top: 9px;
  z-index: 9999999;
  /* width: 100%; */
  max-width: 20px;
}
featured .bx-wrapper {
    float: left;
    height: 357px;
    margin: 0;
}
.featured .bx-viewport {
    height: 357px !important;
}
.boxes p {
    float: left;
    padding: 6px 6px;
    width: 100%;
}
/************************* Footer ****************/
footer {
    background: none repeat scroll 0 0 #262626;
    float: left;
    margin: 2% 0 0;
    width: 100%;
}
.footer-media {
    background:#f2c400;
    float: left;
    width: 100%;
}
.footer-media ul {
    margin: 0 auto;
    width: 315px;
}
.footer-media li {
    float: left;
}
.footer-media a {
    color: #000;
    float: left;
    font-size: 30px;
    padding: 0 10px;
}
.footer-media a:hover {
    color: #4d4d4d;
}
.footer-area {
    float: left;
    width: 100%;
}
.footer-mid {
    margin: 0 auto;
    padding: 20px 12px 0;
    width: 970px;
}
.footer-mid ul {
    float: left;
    margin: 3% 0 1%;
}
.footer-mid li {
    float: left;
    margin: 0 25px 0 0;
    overflow: hidden;
    width: 23%;
}
.footer-mid li:last-child {
    margin: 0;
}
.footer-mid.links {
    float: left;
    margin: 0 0 3% 7%;
    width: 166px;
}
.footer-mid img {
    transition: all 1s ease 0s;
}
.footer-mid li img:hover {
    transform: scale(1.1);
}
.links li {
    margin: 0;
    width: 100%;
}
.links a {
    color: #fff;
    font-size: 14px;
    transition: all 0.4s ease 0s;
}
.links li:first-child a {
    cursor: auto;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 3%;
}
.links li:first-child a:hover {
    color: #fff;
}
.footer-mid.links a:hover {
    color: #f2c400;
}
.copyright a {
    color: #fff;
    text-decoration: underline;
    transition: .5s;
}
.copyright a:hover {
    color: #F2C400;
}
.copyright {
    width:100%;
    background: #000;
    float: left;
}
.footer-copy {
    width:1200px;
    margin: 0 auto;
}
.footer-copy .left {
    color: #fff;
    float: left;
    padding: 16px 0;
    width: 50%;
}
.footer-copy .right {
    color: #fff;
    float: left;
    padding: 16px 0;
    text-align: right;
    width: 50%;
}
/***************************** Event page **************/
.event-main {
    clear: left;
    margin: 30px auto 0;
    /*overflow: hidden;*/
    width: 970px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: orange none repeat scroll 0 0!important;
  color: #fff!important;
}
.event.itemeve {
    float: left;
    margin: 45px 0 0 0px;
    transition: left 0.4s ease-in-out 0s, top 0.4s ease-in-out 0.4s;
    width: 190px;
}
.event-main.thumbeve {
    margin: 0 auto;
    width: calc(100% - 200px);
}
.event-main h2 {
    background: none repeat scroll 0 0 #000;
    box-shadow: 0 3px 6px #535353;
    color: #fff;
    float: left;
    font-weight: bold;
    padding: 8px 17px;
    width: 100%;
}
.event {
    float: left;
    margin: 12px;
    position: relative;
    width: 170px;
}
.sold-out {
    background: none repeat scroll 0 0 rgba(255, 0, 0, 0.86);
    border-bottom: 1px solid #fff;
    bottom: 42%;
    color: #fff;
    left: 0;
    padding: 4px 14px;
    position: absolute;
}
.event-thumb:hover a.sold-out {
    background: none repeat scroll 0 0 #f00;
    color: #fff;
    box-shadow: 0 0 10px #b9b9b9 inset;
}
.sold-hover {
    display: none;
}
.sold-out:hover .sold-hover {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #f00;
    color: #fff;
    display: inline-block;
    left: 13px;
    position: absolute;
    bottom: 35px;
    width: 100%;
}
.event-thumb .sold-hover p {
  font-size: 12px;
  padding: 7px 6px;
  width: 100%;
  color: #444;
}
.event:hover {
    box-shadow:0 0 150px #000 inset;
    display: block;
}
.event img {
    position: relative;
    width: 100%;
    z-index: -1;
    height: 240px;
}
.event span {
    background: none repeat scroll 0 0 rgba(242, 242, 242, 0.77);
    color: #000;
    padding: 4px 0;
    text-align: center;
    width: 100%;
}
.event span span {
    bottom: 18px;
    float: left;
    position: absolute;
    width: 100%;
}
/*.event:hover span span {
  background: none repeat scroll 0 0 rgba(242, 196, 0, 0.8);
}*/
.event span span:hover {
    background: none repeat scroll 0 0 rgba(242, 196, 0, 0.8);
}
.detail-slider img {
    height: 392px;
}
.slide img {
    height: 110px;
}
.bx-wrapper img {
    width: 100%;
}
.css_blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}
@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}
#lean_overlay {
    position: fixed;
    z-index:1001;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal-cont {
    display: none;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11000;
}
.popupContainer {
    background: none repeat scroll 0 0 #fff;
    height: auto;
    margin: 30px auto;
    width: 330px;
    position: relative;
}
.btn_red {
    background: #ED6347;
    color: #FFF;
}
.text-left a {
    color: #a7a72b;
    display: inline-block !important;
    margin-left: 7px;
}
.btn_red:hover {
    background: #C12B05;
}
a.btn_red {
    color: #FFF;
}
.one_half {
    display: block;
    float: left;
    width: 100%;
}
.one_half.last {
    background: none repeat scroll 0 0 #f2c400;
    padding: 8px 0;
}
/* Popup Styles*/
.popupHeader {
    font-size:16px;
    text-transform: uppercase;
}
.popupHeader {
    background: none repeat scroll 0 0 #f4f4f2;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    position: relative;
}
.popupHeader .modal_close {
    color: #444;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.action_btns a.btn {
    text-align: center;
    background: #444;
}
.action_btns a.btn {
    background: none repeat scroll 0 0 #f2c400;
    border: medium none;
    color: #000;
    padding: 8px 2px;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.action_btns a.btn:hover {
    background: none repeat scroll 0 0 #444;
    border: medium none;
    color: #fff;
}
.popupBody {
    background: #fff;
    padding: 20px;
}
.social_box.fb .icon_title {
    color: #fff;
}
.social_box.fb {
    background: none repeat scroll 0 0 #3b5998;
    border: medium none;
    padding: 4px 10px;
}
/* Social Login Form */

.social_box {
    display:block;
    clear:both;
    padding:10px;
    margin-bottom: 10px;
    background: #F4F4F2;
    overflow: hidden;
}
.icon {
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 10px;
    padding: 0px 10px;
    text-align: center;
    width: 10px;
}
.fb .icon {
    font-size: 22px;
}
.icon_title {
    color: #555;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin-left: 6px;
    padding: 5px 0;
}
.social_box:hover {
    background:#5174be;
}
.social_box.google .icon {
    color: #f00;
    font-size: 22px;
}
.social_box.google {
    border: 1px solid #ccc;
    padding: 4px 10px;
}
.social_box.google:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #F2C400;
}
.centeredText {
    clear: both;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.centeredText p {
    background: none repeat scroll 0 0 #fff;
    bottom: 8px;
    color: #666;
    font-size: 13px;
    padding: 0 8px;
    position: absolute;
    right: calc(50% - 7px);
    text-align: center;
}
.action_btns {
    clear:both;
    overflow: hidden;
}
.action_btns a {
    display: block;
}
/* User Login Form */
.user_login {
    display: block;
}
.user_login label {
    display: block;
    margin-bottom:5px;
}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
    color: #424242;
    display: block;
    padding: 10px 40px 10px 10px;
    width: 100%;
}
.user_login input[type="checkbox"] {
    float: left;
    margin: 4px 7px 0 0;
}
.user_login input[type="checkbox"] + label {
    float: left;
    font-size: 14px;
}
.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
.forgot_password {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #f00;
    display: block;
    float: left;
    font-size: 14px;
    margin: 3px 0 0 22px;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    width: 40%;
}
/* User Register Form */
.user_register {
    display: none;
}
.user_register label {
    display: block;
    float: left;
    margin-top: 8px;
}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
    color: #424242;
    display: block;
    padding: 10px 40px 10px 10px;
    width: 100%;
}
.modal_close {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: -2px;
}
.user_register input[type="checkbox"] {
    float:left;
    margin-right:5px;
}
.user_register input[type="checkbox"]+label {
    float:left;
}
.user_login .checkbox {
    clear: both;
    float: left;
    margin-bottom: 22px;
    overflow: hidden;
    width: 50%;
}
.forgot_password:hover {
    background: none repeat scroll 0 0 transparent;
    text-decoration: underline;
}
.popupContainer {
    top: 1% !important;
}
.action_btns hr {
    float: left;
    margin: 6% 0 0;
    width: 100%;
}
.text-left {
    float: left;
    font-size: 14px;
    margin: 8% 0 0;
    width: 100%;
}
.text-left > a:hover {
    text-decoration: underline;
}
.text-left #register_form {
    color: #968200;
    float: right;
}
.bgyellow .one_half.last {
    margin: 0;
    width: 100%;
}
.bgyellow .btn_red {
    background: none repeat scroll 0 0 #f2c400;
    border-radius: 3px;
    color: #000;
    float: left;
    margin: 7% 0 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    transition: .5s;
}
.btn_red:hover {
    background: none repeat scroll 0 0 #444;
    color: #fff;
}
.control-group-birth {
    float: left;
    margin: 3% 0 5%;
    width: 100%;
}
.control-group-birth select {
    float: left;
}
.select select {
    border: 1px solid #ccc;
    height: 35px;
    margin: 0 8px 0 2px;
    padding: 0 12px;
}
.checkbox > input {
    float: left;
    margin: 6px 8px 0 4px !important;
}
.checkbox > label {
    font-size: 14px;
    margin: 3px 0 0;
}
.reg-links {
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin: 9px 3px 0;
    text-align: center;
    width: 100%;
}
.reg-links a {
    color: #a7a72b;
    display:inline-block;
}
.reg-links a:hover {
    text-decoration: underline;
}
.reg-input {
    border: 1px solid #b9b9b9;
    margin: 0 0 7px;
    position: relative;
    width: 100%;
}
.reg-input span {
    color: #444;
    font-size: 18px;
    padding: 7px 0;
    position: absolute;
    right: -1px;
    text-align: center;
    top: 0;
    width: 42px;
}
.user_register p a {
    color: #a7a72b;
}
.user_register p {
    text-align: center;
}
.user_register .centeredText {
    width: 100%;
    margin: 8px 0;
}
/***************** Detail *********/
.sld-main {
    float: left;
    width: 60%;
}
.map-detail {
    float: left;
    margin: 0 0 0 22px;
    width: 37.6%;
}
.like-detail {
    float: left;
    width: 100%;
}
.like-detail ul {
    float: left;
    width: 100%;
}
.like-detail li {
    background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 20px;
    float: left;
    margin: 0 9px 0 0;
    padding: 5px 9px;
    transition: all 0.4s ease 0s;
}
/*.like-detail li:hover {
        background: none repeat scroll 0 0 #8f8f8f;
}*/
.like-detail a {
    color: #444;
}
.sld-detail .bx-wrapper, .more-events .bx-wrapper {
    margin: 0 0 2%;
}
.like-detail li a i {
    color: #888888;
    margin: 0 6px 0 0;
}
.like-detail li span {
    color: #444;
    font-size: 14px;
    margin: 0 0 0 25px;
}
.sld-detail h3 {
    color: #444;
    float: left;
    font-size: 18px;
    /*font-weight: bold;*/
    margin: 6% 0 0;
    width: 100%;
}
.venue {
    border-bottom: 1px solid #f2c400;
    float: left;
    margin: 15px 0 0px;
    width: 100%;
    padding: 0 0 3px;
}
.venue li {
  color: #787878;
  float: left;
  font-size: 14px;
  margin: 0 25px 5px 0;
  width: auto;
}
.venue li:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 44%;
}
.venue i {
    color: #8f8f8f;
    float: left;
    margin: 3px 6px 0 1px;
}
.venue a,.vika-left-cont a {
    color: #ac912a;
    font-weight: bold;
    transition: .4s;
}
.venue a:hover,.vika-left-cont a:hover {
    color: #444;
}
.show-more {
    background: none repeat scroll 0 0 #f2c400;
    border-radius: 4px;
    color: #000;
    float: left;
    font-size: 14px;
    margin: 12px 0 0 12px;
    padding: 8px;
    transition:.4s;
}
.filter-cont .show-more {
    margin: 13px 0 12px;
}
.show-more:hover {
    background: #444;
    color: #fff;
}
.sld-detail p {
    float: left;
    margin: 10px 0 0;
    width: 100%;
}
.share-detail {
    float: left;
    width: 100%;
    margin: 15px 0 0;
}
.share-detail li {
    float: left;
    margin: 0 11px 0 0;
}
.share-detail a {
    color: #444;
}
.share-detail i {
    transition: all 0.4s ease 0s;
}
.share-detail a i:hover {
    color: #808080;
}
.share-detail a img {
  margin: -3px 0 0;
  width: 80%;
}
.map-detail h3 {
    border-bottom: 1px solid #f2c400;
    color: #1e1d1d;
   /* font-size: 20px;*/
    margin: 3% 0 0;
    padding: 0 0 5px;
}
.lmtd-time {
    float: left;
    margin: 0 0;
    width: 100%;
}
.lmtd-time span {
    color: #e87c22;
    float: left;
    font-size: 16px;
    margin: 4% 0 0;
}
.lmtd-time span i {
    color: #787878;
    float: left;
    font-size: 24px;
    margin: 0 9px 0 0;
}
.qunt span {
    color: #696969;
}
.lmtd-time.qunt span + span {
    margin: 11px 18px;
}

.qunt .btn {
    background: #F2C400;
    border-radius: 4px;
    float: left;
    font-size: 14px;
    margin: 12px 20px 0;
    padding: 7px 12px;
    color: #000;
}
.lmtd-time.qunt.slcttyp select {
  color: #444;
  height: 34px;
  margin: 6px 0 10px;
  padding: 0 5px;
  width: 49%;
}
.slcttyp h5 {
  border-bottom: 1px solid #f2c400;
  color: #444;
  float: left;
  line-height: 17px;
  margin: 6px 0 15px;
  padding: 2px 0 18px;
  width: 100%;
}

.descp {
  font-size: 15px !important;
  margin: 0 -50px 6px 0 !important;
}

.btn-buy a {
  background: #f2c400 none repeat scroll 0 0;
  border-radius: 4px;
  color: #000;
  float: right;
  font-size: 15px;
  margin: 4px 22px 0 0;
  padding: 6px 0;
  text-align: center;
  transition: all 0.4s ease 0s;
  width: 90px;
}
.btn-buy a:hover {
    color: #fff;
    background: none repeat scroll 0 0 #444;
}
.qunt.slcttyp span {
  float: right;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 5px 2px #ccc;
  width: 74%;
}
.more-events {
    float: left;
    width: 100%;
    margin: 20px 0 0;
}
.more-events h3 {
    border-bottom: 1px solid #f2c400;
    color: #444;
    font-size: 18px;
    /*font-weight: bold;*/
    margin: 15px 0;
    padding: 0 0 7px;
}
.left-bar {
    float: left;
    margin: 0 0 0 20px;
    width: 22%;
}
.left-map img {
    border: 1px solid #444;
}
.left-map {
    float: left;
    margin: 0 0 8%;
    width: 100%;
}
.filter {
  border: 1px solid #ebebeb;
  float: left;
  width: 100%;
}
.filter h3 {
  background: #f2c400 none repeat scroll 0 0;
  color: #000;
  height: 38px;
  margin: 0 0 18px;
  padding: 14px 10px;
  width: 100%;
  word-spacing: 2px;
}
.filter-cont {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 2% 0;
    padding: 0 6%;
    width: 100%;
}
.filter-cont span {
    color: #444;
    font-size: 14px;
    margin: 0 12px;
}
.filter-cont span span {
    float: right;
}
.filter h4 {
  background: #f2c400 none repeat scroll 0 0;
  color: #000;
  float: left;
  margin: 17px 0 0;
  padding: 14px 10px;
  width: 100%;
  height: 38px;word-spacing: 2px;
}
.filter h5 {
    float: left;
    margin: 5px 0 0;
    padding: 8px 0;
    width: 100%;word-spacing: 2px;
}
.filter p {
    float: left;
    margin: 0 0 12px;
    width: 100%;
}
.filter-cont .in-value {
    float: left;
    width: 50%;
    font-size: 12px;
}
.filter-cont .out-value {
    float: right;
    width: 26%;
    font-size: 12px;
}
.filter-cont img {
    margin: 18px 0 14px;
}
.content-left {
    float: left;
    margin: 0 0 0 28px;
    width: 72%;
}
.event-thumb {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 3px #ccc;
    float: left;
    margin: 0 22px 22px 0;
    position: relative;
    width: 30%;
}
.event-thumb h5 {
  color: #424242;
  float: left;
  font-size: 14px;
  height: 38px;
  margin: 3px 0;
  overflow: hidden;
  padding: 5px 0 0 13px;
  width: 78%;
}
.event-thumb span {
    color: #6e6e6e;
    float: right;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 0 4px;
}
.filter-cont .ui-slider {
  margin: 12px 0 8px;
}
.event-thumb span span {
    margin: 0;
}
.event-thumb img {
  height: 185px;
  margin: 0 0 4%;
}
.event-thumb h4 {
    color: #e0bb1d;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 0 5px;
    padding: 0 0 0 13px;
    width: 95%;
}
.event-thumb p {
    float: left;
    padding: 0 0 17px 13px;
    width: 95%;
}
.event-thumb:hover .pov {
    display:block;
}
.pov {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    float: left;
    left: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 485px;
    z-index: 99;
}
.left-pophover {
    left: auto;
    right: 100%;
}
.pov .venue p {
    float: left;
    margin: 0 0 7px;
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #444;
}
.btn-buy > h5 {
  float: left;
  font-size: 14px;
  font-weight: normal;
  margin: 2px 0 0;
  padding: 12px 0 0;
  text-align: center;
  width: 100%;
}
.pov .btn-buy {
    float: left;
    width: 30%;
}
.btn-buy > h4 {
    font-size: 20px;
    margin: 4px 0 0;
    padding: 0;
    text-align: center;
}
.vika-left-cont {
    border-top: 1px solid #f2c400;
}
.pov .venue li {
    color: #787878;
    float: left;
    margin: 0 0 4px;
    width: 100%;
}
.pov p {
    color: #8a8a8a;
    float: left;
    font-size: 14px;
    margin: 3px 0 5px;
    text-align: justify;
    width: 100%;
    padding: 4px 0 0;
}
.overflow {overflow:hidden;}
.event-details-img {
    float: left;
    height: 475px;
    position: relative;
    width: 100%;
}
.event-details-img img {
    width:100%;}
.more-events .bx-pager-item {
    visibility: hidden;
}

.heart {
    display: inline-block;
}
.fa.fa-minus-circle.minus {
    display: none;
    width: 16px;
}
.like-detail li:hover .heart {
    display: none;
}
.like-detail li:hover .minus {
    display: inline-block;
}
.pov .venue {
    border: 0 none;
    float: left;
    margin: 0;
    width: 70%;
}
.test,.navevent-detail {
    background: none repeat scroll 0 0 #000;
    border: 0 none;
}
.navevent-detail{}
.test .main-nav a, .test .right-nav a, .test .right-media a,.navevent-detail .main-nav a,.navevent-detail .right-nav a,.navevent-detail .right-media a{
    background: none repeat scroll 0 0 #000;
    border: 0 none;
    color: #fff;
}

.test .main-nav a:hover,.test .right-nav a:hover,.test .right-media a:hover,.navevent-detail .main-nav a:hover,.navevent-detail .right-nav a:hover,.navevent-detail .right-media a:hover  {
    background:#f2c400;
    color: #000;
}
.test .right-media li.language{color: #fff;}
/***************************** controls of slider **********************/
.sld-main .bx-controls-direction,.slider .bx-controls-direction,.featured .bx-controls-direction {
    visibility: hidden;
}
.more-events .bx-wrapper {
    padding: 0 28px;
}


li.language ul.lang-menu {position: absolute;  right: 0;display: none;z-index: 99;width: 115px;border-top: 2px solid #F2C400; background: none repeat scroll 0 0 #fff;}
li.language:hover ul.lang-menu {

    display: block;
    top: 30px;

}
.lang-menu a {
    float: left;
    width: 100%;
    padding: 8px 3px!important;
}
.right-media .language .lang-menu li a:hover:hover{background: #F2C400; color: #000;}

.corner-stamp {
    border-radius: 5px;
    float: right;
    height:720px;
    padding: 10px;
    width: 310px;
}
.post-slider, .post-slider li, .post-slider li img{

    height: 100%;
}
.sld-about {
    float: left;
    width: 100%;
}
.sld-about h2 {
    margin: 0 0 18px;
}
.sld-about p {
    color: #444;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin: 0 0 18px;
}
.event-main.wrd-about {
    width: 85%;
}
.static-img {
  height: 538px;
}
.static-img img {
    width: 100%;
}
.contat-form {
    border-right: 1px solid #ededed;
    float: left;
    margin: 25px 0 0;
    width: 50%;
}
.contat-form label {
    float: left;
    margin: 17px 0 5px;
    width: 100%;
}
.contat-form input {
    border: 1px solid #aaaaaa;
    float: left;
    margin: 6px 12px 10px 0;
    padding: 12px;
    width: 44%;
}
.contat-form textarea {
    border: 1px solid #aaaaaa;
    margin: 6px 0 0;
    padding: 6px 5px;
    width: 89.3%;
}
.contat-form .submit {
    background: none repeat scroll 0 0 #f2c400;
    border: medium none;
    float: left;
    font-size: 16px;
    margin: 18px 0 0;
    padding: 10px 0;
    width: 32%;
    transition:.4s;
}
.contat-form .submit:hover {
    background: none repeat scroll 0 0 #222;
    color: #fff;
    cursor: pointer;
}
.contact-map {
    float: right;
    margin: 22px 0 0;
    width: 46%;
}
.sld-contct .contact-map h2 {
    border-bottom: 1px solid #444;
    box-shadow: none;
    color: #444;
    font-size: 25px;
    padding: 4px 0;
}
.add-left p {
    float: left;
    margin: 12px 0 0;
    width: 100%;font-size: 15px;
}
.add-right p {
    color: #444;
    font-size: 15px;
    margin: 12px 0 0;
}
.add-left {
    float: left;
    width: 40%;
}
.add-right {
    float: left;
}

.contact-map img {
    margin: 15px 0 0;
}
.sld-contct h2,.sld-about h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2c400;
    box-shadow: none;
    color: #f2c400;
    float: left;
    font-size: 42px;
    font-weight: bold;
    padding: 0;
    width: 100%;
}
.nav-togle {
    display: none;
}
.nav-togle {
    background: #ffd65e; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */

    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    float: left;
    margin: 4px 6px;
    padding: 3px 12px;
    width: 98%;
}
.nav-togle:hover {
    cursor: pointer;
    background: #ffd65e; /* Old browsers */
background: -moz-linear-gradient(left,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ffd65e 0%,#febf04 100%); /* IE10+ */
background: linear-gradient(to right,  #ffd65e 0%,#febf04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 ); /* IE6-9 */

}
.put-cmt {
  float: left;
  margin: 35px 0 0;
  width: 570px;
}
.put-cmt span {
  float: left;
}
.put-cmt i {
  color: #c1c1c1;
  font-size: 40px;
}
.put-cmt textarea {
  border: 1px solid #e9e9e9;
    float: left;
    height: 58px;
    margin: 0 0 0 25px;
    padding: 7px 8px 3px;
    width: 78%;
}
#pay_now, #pay_from_card, #cash_on_deleivery,.btn-card-info {
  background: #f2c400 none repeat scroll 0 0;
  float: left;
  font-family: "bebasregular";
  font-size: 15px;
  height: 38px;
  margin: 0 3px 3px 0;
  padding: 14px 45px;
  transition: all 0.4s ease 0s;
  width: 179px;
  word-spacing: 2px ;
}
.put-cmt input {
  background: #f2c400 none repeat scroll 0 0;
  float: right;
  font-family: "bebasregular";
  font-size: 15px;
  height: 38px;
  margin: 6px 0 0;
  padding: 14px 30px;
  transition: all 0.4s ease 0s;
}
.put-cmt input:hover,#pay_now:hover {cursor: pointer;}

.review-main {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}

.review-main > img {
    float: left;
}

.review-main > span {
  float: right;
  font-size: 14px;
  line-height: 15px;
  margin-left: 20px;
  width: 80%;
}

.view-place .static-img {
  height: 364px;
  overflow: hidden;
}
.view-place .static-img img {
  height: 365px;
  width: auto;
}


.view-artist {
  width: 970px;
}
.view-artist .sld-detail {
  width: 40%;
}
.view-artist .map-detail {
  margin: 0 0 0 40px;
  width: 55%;
}
.view-artist .static-img {
  height: 430px;
  overflow: hidden;
}
.view-artist .map-detail p {
  line-height: 20px;
}

.tweet-artist {
  float: right;
  margin: 55px 10px 0 0;
  width: 38%;
}

.facebook-widget {
  margin: 40px 0 0;
}

.cat-filter {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.main-cont {
  margin: 40px auto;
  width: 560px;
}
.center-cont {
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px #ccc;
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.center-cont h2 {
  font-family: bebas;
  font-size: 24px;
  float: left;
  width: 100%;
}
.center-cont form {
  float: left;
  padding: 15px 10px;
  width: 100%;
}
.center-cont h2 {
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  border-bottom: 1px solid #ccc;
  color: #444;
  float: left;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 0 0px;
  padding: 12px;
  width: 100%;
}
.center-cont form input {
  border: 1px solid #ccc;
  float: left;
  margin: 0;
  padding: 10px;
  width: 100%;
}
.center-cont form hr {
  float: left;
  width: 100%;
}
.center-cont form .btn-card-info {
  float: left;
  font-family: bebas;
  height: 40px;
  line-height: 15px;
  margin: 0px 0 0px;
  width: 200px;
}
form .btn-card-info.crd-mrgn {
  margin: 10px 0 0;
}
.tkt-type {
  border-bottom: 1px solid #ccc;
  float: left;
  margin: 0 10px;
  padding: 16px 5px;
  width: 96%;
}
.cod-form label {
  float: left;
  margin: 20px 0 0 6px;
  width: 90px;
}
form .cod-form input {
  float: left;
  height: 60px;
  margin: 0 0 18px 8px;
  width: 80%;
}
/*************************** media screens *************************/

@media screen and (max-width:1248px){
    .search { width: 1150px;}
    .sld-search select { width: 148px;}
    .sld-search { bottom: 105px;}
}

@media screen and (max-width:1170px){
    .search { width: 970px;}
    #where { width: 120px;}
    .hasDatepicker { width: 120px;}
    .sld-search { bottom: 80px;}
    .sld-search .submit { padding: 0 46px;}
    nav { padding: 0 64px;}
    .footer-copy { width: 910px;}
    .bxslider img { height: 540px;}
    .announce { padding: 8px 10px;}
    nav { padding: 0 10px;}
}

@media screen and (max-width:968px){
    #where { width: 148px;}
    .hasDatepicker { width: 148px;}
    .footer-mid { width: auto;}
    .footer-mid li {margin: 0 16px 0 0;}
    .footer-mid.links { margin: 0 0 3% 3%;}
    .footer-copy { width: 90%;}
    .search { width: 595px;  margin: 0 auto;}
    .sld-search { width: 595px;}
    .sld-search .submit { margin: 0 4px 0 0;float: right;}
    .static-img { height: 400px;}
}

@media screen and (max-width:800px){
    .footer-mid {  width: 98%;}
    .footer-mid li { margin: 0 13px 0 0;}
    .footer-mid.links { width: 115px;  margin: 0 0 3% 7%;}
    .footer-copy {  width: 85%;}
    .announce { padding: 8px 10px;}
    nav { padding: 0 2px;}
    #where { width: 148px;}
    .hasDatepicker { width: 148px;}
    .search { width: 595px;  margin: 0 auto;}
    .sld-search { width: 595px;}
    .sld-search .submit { margin: 0 4px 0 0;float: right;}
    .slider .bx-wrapper { height: 460px;}
    .bxslider img {  height: 460px;}
.featured { width: 54%;}
.corner-stamp {  width: 300px;}

}
@media screen and (max-width:765px){
    .footer-mid { width: 90%;}
    .footer-mid.links { width: 23%;margin: 0 0 3% 0%;}
    .footer-mid li { margin: 0 22px 0 0; width: 45%;}
    .footer-mid.links li { width: 98%;}
    .search { width: 445px;  margin: 0 auto;}
    .sld-search { width: 465px;}
    .sld-search .submit { margin: 0 4px 0 0;float: right;}
    .nav-togle { display: block;}
    #change-color{ display: none;}
    #change-color { border: 0 none; margin: 0 0 0; padding: 0 1%; width: 98%;position: relative;}
    nav ul li { width: 100%; border-bottom: 1px solid #f5f5f5;}
    .main-nav { width: 100%;}
    .right-nav { width: 100%;margin: 0;}
    .right-media { width: 100%;}
    nav ul li a:hover { height: auto;}
    nav ul li.act a, nav.test ul li.act a, nav.navevent-detail ul li.act a {height: auto;}
    .announce { padding: 8px 38px;}
    .contat-form { width: 100%;border-right:0;}
    .contact-map {width: 100%;}
    #main_container .event-main { width: 95%;}
    .static-img { height: 315px;}
	  .sld-search input{width: 148px;}
  .sld-search select{margin:0 2px 2px 0;}
  .sld-search .submit{margin:2px 0;}
   nav ul li {background: rgb(255, 255, 255) none repeat scroll 0 0;}
  .main-nav { border: 1px solid rgb(204, 204, 204); float: left; margin: -22px 4px; width: 50%;}
  .right-nav {
    margin: 0;
    position: absolute;
    right: 0;
    top: -58px;
    width: 24%;}
	.facebook{display:none;}
	.twitter{display:none;}
	.profile-img{display:none;}
	.announce{display:none;}
	.pinterest{display:none;}
	.sub-menu{border:1px solid #ccc;}
	.help li{display:none;}
	.dots-drop.arrow{display:block;}
	.dots-drop{display:none;}
	.language{display:none;}
}

@media screen and (max-width:600px){
    .search { width: 445px;  margin: 0 auto;}
    .sld-search { width: 448px;}
    .sld-search .submit { margin: 0 4px 0 0;float: right;}
    .slider .bx-wrapper { height: 300px;}
    .bxslider img { height: 300px;}
    .featured .bx-viewport { height: 280px !important;}
    .contat-form input {  width: 100%;} 
    .contat-form textarea {  width: 100%;}
    .sld-detail .put-cmt { width: 450px;}
    .sld-detail .put-cmt textarea { width: 89%;}
	.sld-search {width: 456px;}
	.submit{margin:2px 0;}
}

@media screen and (max-width:580px){
    .main-cont { width: 300px;}
	.submit{margin:2px 0;}
}
@media screen and (max-width:520px){
    .search { width: 445px;  margin: 0 auto;}
    .sld-search { width: 448px;}
    .sld-search .submit { margin: 0 4px 0 0;float: right;}
    .footer-mid.links { float: left; width: 50%;  height: 175px;margin: 0 0 2%;}
    .footer-copy { width: 92%;}
    .footer-mid li { margin: 0 32px 0 0; width: 42%;}
	.submit{margin:2px 0;}
	.sld-search {width: 450px;}
    
}

@media screen and (max-width:480px){
    .featured { width: 100%;}
    .footer-mid ul { margin: 5px 21px 10px; width: 98%;}
    .footer-mid li {width: 40%;}
    .footer-mid.links { margin: 0 0 2% 48px;  width: 35%;} 
    .search { width: 300px;  margin: 0 auto;}
    .sld-search { width: 300px;}
    .sld-search .submit { margin: 0 4px 0 0;float: right;}
    .contat-form { width: 100%;border-right:0;}
    .contact-map {width: 100%;}
    .slide img { height: 55px;}
    .static-img { height: 220px;}
    .static-img img { height: auto; width:100%;}
    .slider {  margin: 0 ;}
	.sld-search input{width: 148px;}
	.sld-search select{margin:0 2px 2px 0;}
	.sld-search .submit{margin:2px 0;}
	nav ul li {background: rgb(255, 255, 255) none repeat scroll 0 0;}
	.main-nav { border: 1px solid rgb(204, 204, 204); float: left; margin: -22px 4px; width: 50%;}
	.right-nav {
		margin: 0;
		position: absolute;
		right: 0;
		top: -58px;
		width: 24%;}
	.facebook{display:none;}
	.twitter{display:none;}
	.profile-img{display:none;}
	.announce{display:none;}
	.pinterest{display:none;}
	.sub-menu{border:1px solid #ccc;}
	.help li{display:none;}
	.dots-drop.arrow{display:block;}
	.dots-drop{display:none;}
	.language{display:none;}
	.login li{width:50%; background:none; border-bottom:none;}
	.login{margin:0 20px 0 0;}
	.arrow{display:none;}
    
} 
@media screen and (max-width:479px){
  .mas-center .item.boxes {  margin: 0 120px;}
  .sld-detail .put-cmt { width: 300px; margin: 25px 0 14px;}
   .sld-detail .put-cmt textarea { width: 83%;}
   .qunt.slcttyp span {  width: 68%;}
}
@media screen and (max-width:450px){
  .mas-center .item.boxes {  margin: 0 97px;}
  .slider .bx-wrapper { height: 260px;}
  .bxslider img { height: 264px;}
  .sld-search input{width: 148px;}
  .sld-search select{margin:0 2px 2px 0;}
  .sld-search .submit{margin:2px 0;}
   nav ul li {background: rgb(255, 255, 255) none repeat scroll 0 0;}
  .main-nav { border: 1px solid rgb(204, 204, 204); float: left; margin: -22px 4px; width: 50%;}
  .right-nav {
    margin: 0;
    position: absolute;
    right: 0;
    top: -58px;
    width: 24%;}
	.facebook{display:none;}
	.twitter{display:none;}
	.profile-img{display:none;}
	.announce{display:none;}
	.pinterest{display:none;}
	.sub-menu{border:1px solid #ccc;}
	.help li{display:none;}
	.dots-drop.arrow{display:block;}
	.dots-drop{display:none;}
	.language{display:none;}
	.login li{width:50%; background:none; border-bottom:none;}
	.login{margin:0 20px 0 0;}
	.arrow{display:none;}
}
@media screen and (max-width:390px){
    .footer-mid li { width: 100%; margin: 0 0 18px;}
    .footer-mid.links { margin: 0 0 25px 8px;  width: 47%; height: 230px;}
    .footer-mid.links li { width: 100%;}
    .mas-center .item.boxes { margin: 0 62px;}
    .nav-togle {  width: 97%;}
    .more-events .slide { width: 6.7% !important;}
	.login li{width:50%; background:none; border-bottom:none;}
	.login{margin:0 20px 0 0;}
	.arrow{display:none;}
}
}

@media screen and (max-width:320px){
    .footer-mid ul { margin: 5px 2px 10px;}
    .footer-mid.links {  width: 46%;}
    .mas-center .item.boxes { margin: 0 40px 0;}
	.login li{width:50%; background:none; border-bottom:none;}
	.login{margin:0 0 0 0;}
	.arrow{display:none;}
}
@media screen and (max-width:335px){
    .mas-center .item.boxes { margin: 0 44px;}
	.arrow{display:none;}
}
@media screen and (max-width:980px){
    .event-main { width: 750px;}
    .sld-main { width: 50%;}
    .map-detail { width: 47%;}
    .map-detail { margin: 0 0 0 10px;}
    .detail-slider img { height: 300px;}
    .sld-detail .bx-wrapper, .more-events .bx-wrapper { height: 300px;} 
    .put-cmt textarea { width: 84.7%; height: 46px;}
    .put-cmt span {  padding: 2px 8px;}
    .put-cmt i { font-size: 40px;}
    .put-cmt {  width: 100%;}
}
@media screen and (max-width:768px){
    .sld-main {  width: 100%;}
    .map-detail > div { width: 100% !important;}
.map-detail { width: 98%;}
.put-cmt {margin: 2% 0 2%;}
.put-cmt textarea {width: 91%;}
}
.profile-img{
    border-radius: 30px;
    float: left;
    height: 30px;
    width: 30px;
}
.arrow{
	margin-left: -9px;
	cursor: pointer;
	padding:0 4px;
}
.arrow:hover{
	background:rgb(242, 196, 0);
	padding:0 4px;
}
.profile-name:hover{
	background:rgb(242, 196, 0);
}