@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav, section, summary, time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
}
p{color: #4a4a4a;font-family: 'Open Sans', sans-serif; font-size: 14px;}
body{  background-color: #fafafa;}
nav {
  position: static!important;
}
.navbar-inverse {
 background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f7f7 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7f7f7 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7f7f7 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7f7f7 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

  border-color: #ecc933 !important;
}

.nav li i {
  color: #444;
  font-size: 20px;
}
.nav li i:hover {
  color: #5696D8;
}
.sidebar {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
  float: left;
  padding: 7px;
}
.sidebar img {
  border: 1px double #ccc;
  width: 100%;
}
.main {
  padding: 0 38px;
}
.pro-detail {
  float: left;
  width: 100%;
  padding: 0 4px;
}
.pro-detail h2 {
  color: #a37500;
  float: left;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.sidebar {
  margin: 0 0 15px 15px;
}
.view-prof {
  float: left;
  text-align: center;
  width: 100%;
}
.view-prof li {
    box-shadow: 0 0 3px rgb(204, 204, 204);
    list-style: outside none none;
    margin: 15px 0;
}
.view-prof a {
  background: none repeat scroll 0 0 #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
  color: #444;
  float: left;
  margin: 2px 0 4px;
  padding: 7px 0;
  transition: all 0.4s ease 0s;
  width: 100%;
}
.view-prof a:hover {
  background: none repeat scroll 0 0 #f2c400;
  color: #000;
  text-decoration: none;
}
.dash-header {
  background: none repeat scroll 0 0 #e3e3e3;
  border-radius: 4px 4px 0 0;
  color: #444;
  font-size: 18px;
  padding: 12px 15px;
  width: 100%;float: left;
}
.dash-header.option {
  margin: 25px 0 0;
}
.content {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 2px #ccc;
  float: left;
  padding: 11px;
  width: 100%;
}
.content p {
  border: 1px solid #ccc;
  padding: 6px 14px;
  text-align: justify;
  float: left;
}
/*.content a {
  width: 100%;
  float: left;
  font-size: 16px;
  margin: 8px 0  2px;
  font-weight: bold;
}*/
.dash-complete{
   width: 100%;
  float: left;
  font-size: 16px;
  margin: 8px 0  2px;
  font-weight: bold; 
}
.content a {
  float: left;
  margin: 8px 0 2px;
}
.adddel > a {
  width: 100%;
}
.content a:hover {
  text-decoration: none;
}
.full-width p{
	width:100%;
	padding: 10px 0;
}
.order-dtl{
	float: left;
    width: 50% !important;
}
.full-width p i{
	float:left;
	padding: 3px 10px;
}
.ordr-value{
	float: left;
    text-align: center;
    width: 48%;
}
.ordr-heading {
    color: rgb(0, 0, 0);
    float: left;
    width: 42%;
}
/****************************** edit profile ****************/

#tab_links .selec a {
    background: none repeat scroll 0 0 #f2c400;
    border: 0 none !important;
    color: #000;
}
.view-prof.edit-prof a {
  border-radius: 0;
  color: #000;
  margin: 7px 0 0;
  padding: 8px 12px;
  text-align: left;
}
.view-profile {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  color: #444;
  float: left;
  margin: 70px 0 0;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  transition: .5s;
}
.view-profile:hover {
  border: 1px solid #EFC615;
  text-decoration: none;
}
.inner-area {
  border: 1px solid #ccc;
  float: left;
  padding: 10px 15px;
  width: 100%;
  margin: 0 0 10px;
  border-top: 0;
}
.edit-field {
  float: left;
  margin: 5px 0;
  width: 100%;
}
.edit-field label {
  color: #555;
  float: left;
  margin: 8px 6px 0 0;
  position: relative;
  width: 25%;
}
.edit-field input,.edit-field textarea {
  float: left;
  width: 60%;
}
.edit-field select {
  float: left;
  width: 20%;
}
.edit-field .month {
  margin: 0 10px 0 0;
  width: 18%;
}
.edit-field .date {
  width: 10%;margin: 0 10px 0 0;
}
.edit-field .year {
  width: 14%;
}
.edit-field textarea {
  float: left;
  width: 60%;
}
.btn-group.submit {
  float: right;
  margin: 0 0 2%;
}
#cke_event_summary {
    float: right;
}

.global-radio{
width:3%!important;
}

.mg-top{
margin-top:10px!important;
}

.manege-url-input{
    width: 60% !important;
}
.active-btn{
background: none repeat scroll 0 0 #64a921;
    border-radius: 5px;
    color: #fff;
    margin:0 0 0 6px;
    padding: 3px 4px;
}
.url-bg{
background: none repeat scroll 0 0 #ccc;
    padding: 2px 3px;
}
.wrap {
    float: left;
    margin-right: 0;
    position: relative;
    width: 252px;
}
	.wrap img {
	  position:relative;
	  z-index:1;
	}
.wrap .desc {
  background: rgba(242, 242, 242, 0.9) none repeat scroll 0 0;
  bottom: 0;
  display: block;
  left: 12px;
  padding: 22px 20px;
  position: absolute;
  text-align: center;
  transition: all 0.4s ease 0s;
  width: 91%;
  z-index: 2;
  color: #444;
}
.wrap a > img {
    width: 100%;
}
.round {
    background: none repeat scroll 0 0 #000;
    border-radius: 50px;
    float: right;
    font-size: 16px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    width: 35px;color:#fff;
}
.wrap .desc:hover {
  background: #f2c400 none repeat scroll 0 0;
  color: #000;
  opacity: 0.9;
}

.dashboard-images{
    
    margin: 0 !important;
}
/************************* Footer ****************/
footer {
  background: none repeat scroll 0 0 #262626;
  float: left;
  margin: 2% 0 0;
  width: 100%;
}
.footer-media {
  background:#f2c400;
  float: left;
  width: 100%;
}
.footer-media ul {
  margin: 0 auto;
  width: 315px;
}
.footer-media li {
  float: left;
}
.footer-media a {
  color: #000;
  float: left;
  font-size: 30px;
  padding: 7px 10px;
}
.footer-media a:hover {
  color: #4d4d4d;
}
.footer-area {
  border-top: 3px solid #ECC933;
  float: left;
  width: 100%;
}
.footer-mid {
  margin: 25px auto;
  width: 1200px;
}
.footer-mid ul {
  margin: 3% 0;
  float: left;
}
.footer-mid li {
  float: left;
  margin: 0 50px 0 0;
  overflow: hidden;  
}
.footer-mid li:last-child {
  margin: 0;
}
.footer-mid.links {
  float: left;
  margin: 0 0 3% 7%;
  width: 150px;
}
.footer-mid img {
  transition: all 1s ease 0s;
}
.footer-mid li img:hover {
  transform: scale(1.1);
}
.links li {
  margin: 0;
  width: 100%;
}
.links a {
  color: #fff;
  font-size: 14px;
  transition: all 0.4s ease 0s;
}
.links li:first-child a {
  cursor: auto;
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 3%;
}
.links li:first-child a:hover {
  color: #fff;
}
.footer-mid.links a:hover {
  color: #f2c400;
  text-decoration: none;
}
.copyright a {
  color: #fff;
  text-decoration: underline;
  transition: .5s;
}
.copyright a:hover {
  color: #F2C400;
}
.copyright{width:100%; background: #000; float: left;}
.footer-copy{width:1200px; margin: 0 auto;}
.footer-copy .left {
  color: #fff;
  float: left;
  margin: 0;
  padding: 16px 0;
  width: 50%;
}
.footer-copy .right {
  color: #fff;
  float: left;
  margin: 0;
  padding: 16px 0;
  text-align: right;
  width: 50%;
}
.first-bold {
  color: #fff;
  font-weight: bold;
}
.dashboard-bg a {
  margin: 0;
  width: 20%;
  float: left;
}
.dashboard-bg .btn {
  border: 0 none;
  padding: 2px 3px;
}
.table-dashboard-listing i {
  margin: 0 3px;
}
.accord a {
  float: none;
}
.pagi-bg .active a {
  background: #EEA236;
  border-color: #EEA236;
}
.pagi-bg li a {
  color: #EEA236;
}

/********************************* add-event *******************/
.add-event input[type="radio"]{
	width: 4%;
}
.add-event .edit-field {
  margin: 10px 0 2px;
}
.add-event select {
  width: 65%;
}
.edit-field .add-title {
  width: 65%;
}
.add-event textarea {
  width: 65%;
}
.add-check {
  float: left;
  width: 100%;
}
.add-check li {
  float: left;
  list-style: outside none none;
  margin: 7px 0;
  width: 20%;
}
.add-check .ttl-check {
  margin: 3px 10px 0 0;
  width: auto;
}
.add-event input {
  width: 65%;
}
.add-event .radio {
  float: left;
  width: 30%;
}
.add-radio {
  float: left;
  margin: 10px 0 0;
  width: 100%;
}
.add-radio li {
  float: left;
  list-style: outside none none;
  width: 16%;
}
.add-radio input[type="radio"] {
  margin: 3px 10px 0 0;
  width: auto;
}
.add-radio input[type="radio"] {
  width: auto;
}
.add-lmt select {
  width: 92%;
}
.add-radio .add-lmt {
  width: 22%;
}
.add-radio .eve-rad {
  margin: 8px 0 0;
}
.select-date {
  float: left;
  margin: 2% 0 0;
  width: 73%;
}
.select-date input {
  margin: 0 11px 0 0;
  width: 20%;
}
.select-date li {
  float: left;
  list-style: outside none none;
  width: 25%;
}
.select-date select {
  width: 20%;
  margin: 0 17px 0 0;
}
.select-date span {
  float: left;
  margin: 7px 7px 0 0;
}
.event-date {
  width: 100%;
  float: left;
    margin: 6px 0 0;
}
.edit-field.ticket-det label {
  border-bottom: none;
  margin: 0 0 8px;
  padding: 3px 0;
  width: 100%;
}
.ticket-det input {
  float: left;
  margin: 0 20px 0 0;
  width: 100%;
}
.ticket-det > ul {
  float: left;
  width: 50%;
}
.ticket-det li {
  float: left;
  list-style: outside none none;
  margin: 8px 0 0;
  width: 90%;
}
.ticket-det textarea {
  width: 50%;
  margin: 8px 0 0;
}
.ticket-det .btn-group.submit {
  margin: 16px 0 0;
}
.ticket-det.Dress-Code > ul {
  width: 100%;
}
.ticket-det.Dress-Code li {
  float: left;
  width: 50%;
}
.ticket-det.Dress-Code input {
  float: left;
  margin: 0 8px 0 0;
  width: 90%;
}
.Dress-Code .checkbox {
  float: left;
  width: 100%;
}
.Dress-Code .checkbox > input {
  float: left;
  width: 5%;
  margin: 2px 0 0;
}
.checkbox > span {
  float: right;
  width: 95%;
}
.event-sub input {
  float: left;
  margin: 22px 2px 17px 0;
  width: 32%;
}
.btn-group.event-sub {
  float: left;
  width: 100%;
}
.select-date h3 {
  float: left;
  margin: 10px 0 0;
  width: 35px;
}
.select-date span {
  float: left;
  margin: 0 7px 0 0;
  width: 36%;
}
.select-date span input {
  margin: 0 11px 0 0;
  width: 92%;
}


#myTab li {
  float: left;
  padding: 0 4px;
  width: 100%;
}
#myTab a {
  background: none repeat scroll 0 0 #f5f5f3;
  border-radius: 0;
  margin: 2px 0;
  border: 0;
  transition: .4s;
}
#myTab .active a {
  background: none repeat scroll 0 0 #f2c400;
  border: 0 none !important;
  color: #000;
}
#myTab a:hover {
  border: 0 none;
  background: #F2C400;
  color: #000;
}
#myTab .dropdown-menu {
  width: 100%;
}
#myNewTab li {
  float: left;
  padding: 0 4px;
}
#myNewTab a {
  background: none repeat scroll 0 0 #f5f5f3;
  border-radius: 0;
  margin: 2px 0;
  border: 0;
  transition: .4s;
}
#myNewTab .active a {
  background: none repeat scroll 0 0 #f2c400;
  border: 0 none !important;
  color: #000;
}
#myNewTab a:hover {
  border: 0 none;
  background: #F2C400;
  color: #000;
}
#myNewTab .dropdown-menu {
  width: 100%;
}
.tabclass h5 {
  float: left;
  width: 80%;
  font-size: 20px;
  margin: 5px 26px 0px 0px;
}
.add-new-event {
  border-bottom: 1px solid #ccc;
  margin: 0 0 18px;
  padding: 0 0 11px;
  width: 100%;
  float: left;
}
.add-new-event img {
  border: 1px solid #ccc;
  float: left;
}
.addnew-discription {
  float: left;
  margin: 0 12px 20px;
  width: 500px;
}
.addnew-discription p {
  border: 0 none;
  margin: 3px 0 0;
  padding: 2px 0;
  width: 100%;
}
.addnew-discription h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px;
}
.adddish {
  border-bottom: 1px solid #ccc;
  float: left;
  margin: 20px 0 0;
}
.adddel {
  float: left;
  width: 100px;
  margin: 4px 0;
}
.adddel .btn {
  width: 100%;
  margin: 1px 0 3px ;
}
.main #myTab li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: auto;
}
.tabtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
  text-align: center;
}
.edit-field a.addtooltip {
  background: none repeat scroll 0 0 #444;
  border-radius: 11px;
  bottom: 0;
  color: #fff;
  float: left;
  font-size: 14px;
  height: 17px;
  left: 50%;
  position: absolute;
  text-align: center;
  width: 17px;
}
.addartist .btn.btn-warning {
  width: 100%;
}
.addnew-discription > input {
  margin: 20px 0;
}
input.fileup {
  margin: 0;
}
.edit-field #twitter_widget {
  float: right;
}
.addnew-discription #profile_image {
  margin: 0;
}
.edit-filed #newsletter {
  margin: 10px 0 0;
  width: auto;
}
h5.drscode {
  border-bottom: 1px solid #989898;
  color: #989898;
  font-size: 15px;
  font-weight: bold;
  margin: 12px 0 18px;
  padding: 0 0 5px;
  width: 100%;
}
.edit-field .cmntcheck {
  float: left;
  margin: 10px 12px 0 0;
  width: 10px;
}
.cmttext {
  float: left;
  font-size: 14px;
  margin: 8px 0 0;
}
#guest .addtooltip {
  left: 127px;
}
.edit-field .addtooltip.guest {
  left: 60%;
}
.radgst .add-radio {
  float: left;
  margin: 0;
  width: 70%;
}
.radgst .add-radio .eve-rad {
  margin: 0 28px 0 0;
}
.mgtop10{
  margin-top: 10px;
}
.col-md-9.main {
  width: 72%;
}
.btn-success.success_msg {
  width: 70%;
  float: left;
  padding: 8px 11px;
  margin: 0 0 3px 15px;
  border-radius: 4px;
}
.edit-field.gstnoti label .addtooltip {
  left: 60%;
}
.edit-field.gstpls label .addtooltip {
  left: 82%;
}
.ticket-sold .addnew-discription {
  float: left;
  width: 400px;
}
.revenue {
  float: left;
  width: 243px;
  margin:0 50px 0 0;
}
/*.revenue p {
  float: right;
}*/
.ticket-sold .btn.btn-warning {
  float: right;
  width: 200px;
}
.guestlistresult {
  float: left;
  margin: 15px 0 0;
  width: 100%;
}
.guestlist {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e8c70d;
  border-radius: 3px;
  padding: 5px 10px;
}
.guestlist p {
  border: 1px solid #e8c70d;
  box-shadow: 0 2px 3px #ccc;
  margin: 9px 0 10px;
}
.reqstar {
    color: red;
    font-size: 12px;
    padding: 0 0 0 6px;
}
.btn-group.event-sub {
  float: right;
  margin: 0 68px;
  width: 200px;
}
.btn-group.event-sub input {
  float: right;
  width: 100%;
}
#cke_page_content {
  float: right;
}
.recurring {
  float: left;
  width: 72%;
}
.recurring label {
  float: left;
  width: 100px;
}
.edit-field .recurring input {
  float: left;
  margin: 0 15px 0 5px;
}
.recurring select {
  margin: 0 50px 14px 6px;
  width: 38%;
}
.recurring div {
  float: left;
  width: 100%;
}
#cke_event_description{
  float: right;
}
.recurring div  select {
  width: 30%;
  float: left;
  
  margin: 0 6px 0 4px;
}

.dash-heading{
	float:left;
	width:65%;
	color: rgb(0, 0, 0);
}
.dash-value{
	width:30%;
	float:left;
	text-align:center;
}
.clr {
    clear: both;
}
.pd-list li{padding:8px 5px;}
@media screen and (max-width:1199px){
    .edit-field.crt-dn label .addtooltip { left: 84px;}
    .addnew-discription {  width: 52%;}
    .footer-copy { margin: 0 auto;  width: 92%;}
    .footer-mid {  width: 100%;}
    .edit-field .addtooltip.guest { left: 70%;}
}
@media screen and (max-width:1024px){
    .recurring div select {  width: 28%;}
} 
@media screen and (max-width:980px){ 
    .container { width: 100%!important;}
    .view-prof li {  word-wrap: break-word;padding: 5px 0;}
    .edit-field label {  width: 150px;}
    .edit-field .addtooltip.guest { left: 71%;}
}
@media screen and (max-width:768px){
    .container .sidebar { width: 96%;}
    .main { width: 100% !important;}
    .footer-mid {width: 90%;}
    .footer-mid.links { height: 160px; margin: 0 0 0 7%;  width: 42%;}
    .footer-copy { width: 90%;}
    .addnew-discription { margin: 0 30px 0 25px;  width: 45%;}
    .edit-field a.addtooltip {  left: 81%;}
    .addnew-discription > input {  width: 100%;}
      .btn-success.success_msg { width: 96%;}
      .pro-detail img { width: 40%;}
      .advnce input { width: 100%;  margin: 4px 0 0;}
      .advnce label { width: 100%;}
      .crtf label { width: 100%;}
      .crtf input { margin: 4px 0 8px; width: 100%;}
      .ag-lm label { width: 115px;}
      .edit-field.crt-vn label .addtooltip { left: 76px;}
      .edit-field.crt-dn label .addtooltip { left: 84px;}
      #showguestlist { float: left; width: 200px;}
      #set_payment .edit-field label { width: 55%;}
      .edt-evt .addtooltip.guest { left: 105px;}
      .add-radio li {  width: 28%;}
      .pro-detail a { float: left;}
      .recurring div select { width: 24%;}
      .recurring select { width: 49%;}
}
@media screen and (max-width:600px){
    .sidebar { margin:15px 0 0;}
    .view-prof li { float: left; margin: 5px 0 0; width: 100%;}
    .col-md-9.main { width: 100%; margin: 10px 0 0; float: left;}
    .footer-copy { width: 94%;}
    .footer-mid { width: 100%;}
    .footer-mid.links { height: 145px;margin: 0 0 0 7%; width: 43%;}
    .addnew-discription {  width: 245px;}
    /*.edit-field label { width: 100%;}*/
    .add-event .edit-field { margin: 10px 0 2px; width: 100%;}
    .add-event input { width: 100%; margin: 7px 0 10px;}
    .bootstrap-tagsinput {  margin: 6px 0 0;}
    .edit-field .add-title { width: 100%;}
    .add-event textarea { width: 100%;}
    .edit-field label {  width: 165px;}
    .edit-field a.addtooltip { left: 81%;}
    .adddel {  width: 100%;}
    .content a { margin: 8px 8px 2px 0px;}
    .btn-success.success_msg { width: 100%;margin: 22px 0 0;}
    
}
@media screen and (max-width:544px){
    .adddel {  width: 100%;}
    .content a { margin: 8px 12px 2px 0px;}
    
}



@media screen and (max-width:480px){
   .sidebar .pro-detail img { width: 100%;}
   .radgst .add-radio {  width: 100%;}
   .radgst .add-radio li { width: 38%;}
   #edit_event .ag-lm label { width: 26%;}
}
@media screen and (max-width:426px){
    .add-new-event img { height: 100%;  width: 100%;}
    .adddish .addnew-discription { margin: 7px 0 0; width: 100%;}
    #images .add-new-event.adddish img,#info .add-new-event.adddish > img { width: auto;}
}
@media screen and (max-width:360px){
    .addnew-discription { width: 100%;}
/*    .add-new-event img { height: 100%;  width: 100%;}
    .adddish .addnew-discription { margin: 7px 0 0; width: 100%;}*/
}

