<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    
    <script>
    function initialize()
        {
            var input = document.getElementById('event_city');
            var autocomplete = new google.maps.places.Autocomplete((input),
                                {
                                    types: ['geocode'],
                                });
            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                document.getElementById('event_city_lat').value = place.geometry.location.lat();
                document.getElementById('event_city_long').value = place.geometry.location.lng();
                    if (!place.geometry) {
                      window.alert("Autocomplete's returned place contains no geometry");
                      return;
                    }

            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<?php echo $this->Html->css('tag/bootstrap-tagsinput'); ?>
<?php echo $this->Html->script('tag/bootstrap-tagsinput.js'); ?>
<?php echo $this->Html->script('tag/bootstrap-tagsinput.min.js'); ?>
<div class="col-sm-9  col-md-9  main">
                <div data-example-id="togglable-tabs" role="tabpanel" class="bs-example bs-example-tabs">
                    <ul role="tablist" class="nav nav-tabs" id="myTab">
                        <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#general"> View Events </a></li>
                        <li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#create"> Create Event </a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div aria-labelledby="home-tab" id="general" class="tab-pane fade in active" role="tabpanel">
                            <div class="content add-event">
                                <?php if(empty($all_events)) { ?>
                                <p> No Event created by you </p>
                                <?php } ?>
                                <?php foreach($all_events as $event) { 
                                $id = base64_encode($event['Event']['id']);
                                ?>
                                <div class="add-new-event adddish">
                                    <?php echo $this->Html->image($event['Event']['event_image'], array("width"=>"100px","height"=>"100px","alt" => "Logo")) ?>
                                    <div class="addnew-discription">
                                        <?php $test = new DateTime($event['Event']['event_start_date']); ?>
                                        <h4><?php echo $event['Event']['event_title']; ?></h4>
                                        <p><i class="fa fa-calendar"></i> <?php echo date_format($test, 'l, F d, Y');?></p>
                                        <p><i class="fa fa-clock-o"></i> <?php echo $event['Event']['event_start_hour']." : ".$event['Event']['event_start_min']." ".$event['Event']['event_start_ap'] ?> </p>
                                        <?php if($event['Event']['event_status'] == '1') { ?> 
                                        <p><i class="fa fa-map-marker"></i> Status : Active </p>
                                        <?php } else { ?>
                                        <p><i class="fa fa-map-marker"></i> Status: Pending</p>
                                        <?php } ?>
                                        <p><i class="fa fa-user"></i> Posted By: Professional</p>
                                    </div>
                                    <div class="adddel">
                                        <?php if($event['Event']['event_status'] == '0') { ?>
                                       <a href='edit-event?eid=<?php echo $id; ?>'><button type="button" class="btn btn-warning">Edit</button></a>
           
                                       <?php } ?>
                                       <a href="../events/delete_event?eid=<?php echo $id; ?>"><button type="button" onclick="if (confirm("Are you sure you want to delete this event ?")) { return true; } return false;" class="btn btn-danger">Delete</button></a>
                                    </div>
                                </div>
                                <?php } ?>
                            </div>  
                        </div>
                        <div aria-labelledby="profile-tab" id="create" class="tab-pane fade" role="tabpanel">
                            <ul role="tablist" class="nav nav-tabs" id="myNewTab">
                            <li class="active" role="presentation"><a aria-expanded="true" aria-controls="event" data-toggle="tab" role="tab" id="event-tab" href="#event"> Create </a></li>
                            <li role="presentation"><a aria-controls="images" data-toggle="tab" id="images-tab" class="next_form" role="tab" href="#images">Images</a></li>
                            <li role="presentation"><a aria-controls="advanced" data-toggle="tab" id="advanced-tab" class="next_form fileupload" role="tab" href="#advanced">Advanced</a></li>
                            <li role="presentation"><a aria-controls="guest" data-toggle="tab" id="guest-tab" class="next_form fileupload dress_form" role="tab" href="#guest">Guest List</a></li>
                            </ul>
                        <div class="tab-content" id="myNewTabContent">
                        <div aria-labelledby="event-tab" id="event" class="tab-pane fade in active gold" role="tabpanel">
                            <div class="content add-event crtf">
                                <?php echo $this->Form->Create('',array('id'=>'add_event','enctype'=>'multipart/form-data')) ?>
                                    <div class="edit-field">
                                        <label>Title</label>
                                       <?php echo $this->Form->input('event_title', array('id'=>'event_title','placeholder'=>'Event Title','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                    </div>
                                    <?php $poparray = array_shift($list_categories); ?>
                                    <div class="edit-field">
                                        <label>Category</label>
                                       <?php echo $this->Form->input('cat_id', array('options'=> $list_categoriess,'id'=>'cat_id','class'=>'form-control', 'label'=>false , 'required'=>'required','onchange'=>'categorySelected()', 'div'=>false)) ?>
                                    </div>
                                    <div class="edit-field">
                                        <label>Sub-Category</label>
                                    <select class="form-control" id="sub_cat_id" name="data[Event][sub_cat_id]">
                                        <option> Select Sub-Category </option>
                                    </select>
                                    </div>
                                    
                                    <div class="edit-field">
                                        <label>City</label>
                                        
                                        <?php echo $this->Form->input('event_city', array('id'=>'event_city','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                    </div>

                                    <?php echo $this->Form->input('event_city_lat', array('type'=>'hidden','id'=>'event_city_lat')) ?>

                                    <?php echo $this->Form->input('event_city_long', array('type'=>'hidden','id'=>'event_city_long')) ?>

                                    <div class="edit-field crt-vn">
                                        <label>Venue
                                            <a title="" data-toggle="tooltip" href="#" data-original-title="Start typing the venue you want after having created it Or Select it from the dropdown menu" class="addtooltip"><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        
                                        <?php echo $this->Form->input('event_venue', array('options'=> $list_places, 'id'=>'event_venue','class'=>'form-control add-title', 'label'=>false , 'empty'=>'Select Place','required'=>'required', 'div'=>false)) ?>
                                    </div>
                                    <div class="edit-field crt-vn">
                                        <label>Artist
                                            <a title="" data-toggle="tooltip" href="#" data-original-title="Start typing the artist you want after having created it Or Select it from the dropdown menu" class="addtooltip"><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        <?php echo $this->Form->input('event_artist', array('options'=> $list_artists, 'id'=>'event_artist', 'class'=>'form-control add-title', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                    </div>
                                    <div class="edit-field ag-lm">
                                        <label>Age Limit:</label>
                                        <?php $options = array('0'=>'Yes', '1'=>'No'); ?>
                                        <?php echo $this->Form->radio('event_age_check',$options, array('id'=>'age_limit', 'class'=>'form-control age_limit', 'legend'=>false,'value'=>'0')); ?>
                                    </div>
                                    <div class="edit-field age-lmt">
                                            <label>Starting Age</label>
                                            <select name="data[Event][event_start_age]" id="event_start_age" class="form-control">
                                                <option>All</option>
                                            <?php
                                            $selectstartage = '';
                                            for($i=14; $i<70; $i++) {
                                                $selected = '';
                                                if ($selectstartage == $i) $selected = ' selected="selected"';
                                                print('<option value="'.$i.'"'.$selected.'>'.$i.' Years</option>'."\n");
                                            }
                                            ?>
                                            </select>
                                    </div>
                                    <div class="edit-field age-lmt">
                                            <label>Ending Age</label>
                                            <select name="data[Event][event_end_age]" id="event_end_age" onchange="checkAge()" class="form-control">
                                                <option>All</option>
                                            <?php
                                            $selectstartage = '';
                                            for($i=14; $i<=70; $i++) {
                                                $selected = '';
                                                if ($selectstartage == $i) $selected = ' selected="selected"';
                                                print('<option value="'.$i.'"'.$selected.'>'.$i.' Years</option>'."\n");
                                            }
                                            ?>
                                            </select>  
                                            </div>
                                    <div class="edit-field">
                                        <label>
                                            Select Date and Time:
                                        </label>
                                        <div class="event-date">
                                         <label>
                                            Start Date:
                                        </label>
                                            <ul class="select-date edit-field">
                                                <?php echo $this->Form->input('event_start_date', array('id'=>'dpd1','placeholder'=>'mm/dd/yyyy','class'=>'span6 form-control', 'label'=>false , 'required'=>'required')) ?>  
                                                
                                                <?php $selecthour = array('01'=>'01','02'=>'02','03'=>'03','04'=>'04','05'=>'05','06'=>'06','07'=>'07','08'=>'08','09'=>'09','10'=>'10','11'=>'11','12'=>'12') ; ?>
                                                
                                                <?php echo $this->Form->input('event_start_hour', array('options'=> $selecthour, 'id'=>'event_start_hour','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>

                                                <?php $selectmin = array('00'=>'00','05'=>'05','10'=>'10','15'=>'15','20'=>'20','25'=>'25','30'=>'30','35'=>'35','40'=>'40','45'=>'45','50'=>'55') ; ?>
                                                <?php echo $this->Form->input('event_start_min', array('options'=> $selectmin, 'id'=>'event_start_min','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                                <?php $selectap = array('AM'=>'AM','PM'=>'PM') ; ?>
                                                <?php echo $this->Form->input('event_start_ap', array('options'=> $selectap, 'id'=>'event_start_ap','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>

                                            </ul>
                                            <label>
                                            End Date:
                                        </label>
                                            <ul class="select-date edit-field">
                                                
                                                <?php echo $this->Form->input('event_end_date', array('id'=>'dpd2','placeholder'=>'mm/dd/yyyy','class'=>'span6 form-control', 'label'=>false , 'required'=>'required')) ?>
                                                
                                                <?php $selecthour = array('01'=>'01','02'=>'02','03'=>'03','04'=>'04','05'=>'05','06'=>'06','07'=>'07','08'=>'08','09'=>'09','10'=>'10','11'=>'11','12'=>'12') ; ?>                                                
                                                <?php echo $this->Form->input('event_end_hour', array('options'=> $selecthour, 'id'=>'event_end_hour','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>

                                                <?php $selectmin = array('00'=>'00','05'=>'05','10'=>'10','15'=>'15','20'=>'20','25'=>'25','30'=>'30','35'=>'35','40'=>'40','45'=>'45','50'=>'55') ; ?>
                                                <?php echo $this->Form->input('event_end_min', array('options'=> $selectmin, 'id'=>'event_end_min','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>

                                                <?php $selectap = array('AM'=>'AM','PM'=>'PM') ; ?>
                                                <?php echo $this->Form->input('event_end_ap', array('options'=> $selectap, 'id'=>'event_end_ap','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                            </ul>
                                        </div>
                                    </div>
                                   
                                   <div class="edit-field">
                                        <label> 
                                            Recurring Type:
                                        </label>
                                        <div class="recurring">
                                            <label>Weekly</label><input type="radio" name="data[Event][recurring_type]" value="1" class="form-control">
                                            <select id="select_week" name="data[Event][weekly_day]" class="form-control">
                                                    <option value="Monday">Monday</option>
                                                        <option value="Tuesday">Tuesday</option>
                                                        <option value="Wednesday">Wednesday</option>
                                                        <option value="Thursday">Thursday</option>
                                                        <option value="Friday">Friday</option>
                                                        <option value="Saturday">Saturday</option>
                                                        <option value="Sunday">Sunday</option>
                                            </select>
                                            <div><label>Monthly</label><input  type="radio" name="data[Event][recurring_type]" value="2" class="form-control"> 
                                                <select id="select_week" name="data[Event][monthly_number]" class="form-control">
                                                        <option value="1">First</option>
                                                        <option value="2">Second</option>
                                                        <option value="3">Third</option>
                                                        <option value="4">Fourth</option>
                                                </select>
                                            <select id="select_week" name="data[Event][monthly_day]" class="form-control">
                                                        <option value="Monday">Monday</option>
                                                        <option value="Tuesday">Tuesday</option>
                                                        <option value="Wednesday">Wednesday</option>
                                                        <option value="Thursday">Thursday</option>
                                                        <option value="Friday">Friday</option>
                                                        <option value="Saturday">Saturday</option>
                                                        <option value="Sunday">Sunday</option>
                                            </select></div>
                                            <label>Not Recurring</label><input type="radio" name="data[Event][recurring_type]" value="3" class="form-control">
                                                
                                            
                                        </div>
<!--                                        <div class="recurring">
                                            <label>Monthly</label><input  type="radio" name="data[Event][recurring_type]" value="2" class="form-control"> 
                                                <select id="select_week" name="data[Event][monthly_number]" class="form-control">
                                                        <option value="1">First</option>
                                                        <option value="2">Second</option>
                                                        <option value="3">Third</option>
                                                        <option value="4">Fourth</option>
                                                </select>
                                                <select id="select_week" name="data[Event][monthly_day]" class="form-control">
                                                        <option value="Monday">Monday</option>
                                                        <option value="Tuesday">Tuesday</option>
                                                        <option value="Wednesday">Wednesday</option>
                                                        <option value="Thursday">Thursday</option>
                                                        <option value="Friday">Friday</option>
                                                        <option value="Saturday">Saturday</option>
                                                        <option value="Sunday">Sunday</option>
                                                </select>
                                            </div>-->
<!--                                            <div class="recurring">
                                                <input type="radio" name="data[Event][recurring_type]" value="3" class="form-control"><label>Not Recurring</label>
                                            </div>-->
                                        </div>

                                        <div class="edit-field">
                                        <label>Seasonal
                                            <a class="addtooltip" data-original-title="Events occuring on special time of the year" href="#" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        <?php $selectseason = array('4th of July'=>'4th of July', 'All-Star Game'=>'All-Star Game', 'BPM Festival'=>'BPM Festival', 'Canada Day'=>'Canada Day', 'Cinco De Mayo'=>'Cinco De Mayo', 'Halloween'=>'Halloween', 'Independence Day'=>'Independence Day', 'Labour Day'=>'Labour Day', 'Memorial Day'=>'Memorial Day', 'Miami Music Week'=>'Miami Music Week', 'New Music West'=>'New Music West', 'New Years Eve'=>'New Years Eve', 'Spring Break'=>'Spring Break', 'St. Pattys Day'=>'St. Pattys Day', 'Stampede'=>'Stampede', 'Superbowl'=>'Superbowl', 'Thanksgiving'=>'Thanksgiving','Valentines day'=>'Valentines day') ; ?>
                                        <?php echo $this->Form->input('event_seasonal', array('options'=> $selectseason, 'id'=>'event_seasonal','class'=>'form-control chzn-select', 'label'=>false , 'required'=>'required', 'div'=>false, 'empty'=>'')) ?>
                                    </div>

                                    <div class="edit-field crt-vn">
                                        <label>Tags
                                            <a class="addtooltip" data-original-title="6 Tags  maximum" href="#" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        <?php echo $this->Form->input('event_tags', array('id'=>'event_tags','placeholder'=>'Event Tags','class'=>'form-control','data-role'=>'tagsinput', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                    </div>
                                    <div class="edit-field crt-vn">
                                        <label>Summary
                                            <a class="addtooltip" data-original-title="Please input upto 350 characters of summary text for this event. Summary Will be displayed on event listing pages. Summary text should be different from main description text for search engine optimization benefits" href="#" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a>
                                        </label>
                                        <?php echo $this->Form->textarea('event_summary', array('id'=>'event_summary','class'=>'form-control custom-control','required'=>'required', 'div'=>false)) ?>
                                    </div>
                                    <div class="edit-field">
                                        <label>Main Description</label>
                                        <?php echo $this->Form->textarea('event_description', array('id'=>'event_description','class'=>'form-control ckeditor','required'=>'required', 'div'=>false)) ?>
                                    </div>
                            </div>
                            <ul role="tablist" class="nav nav-tabs" id="myNewTab">
                            <li role="presentation"><a aria-controls="images" data-toggle="tab" id="images-tab" class="next_form" role="tab" href="#images">Next</a></li>
                            </ul>
                        </div>
                        <div aria-labelledby="images-tab" id="images" class="tab-pane fade" role="tabpanel">
                            <div class="content add-event">
                                <div class="add-new-event adddish">
                                    <?php echo $this->Html->image("calendaradd.png", array("alt"=>"event_img"));?>
                                    <div class="addnew-discription">
                                        <?php echo $this->Form->input('event_image', array('id'=>'event_image', 'type'=>'file', 'label'=>false ,'div'=>false)) ?>
                                    </div>
                                </div>
                                <div class="add-new-event adddish">
                                    <?php echo $this->Html->image("calendaradd.png", array("alt"=>"event_flyer"));?>
                                    <div class="addnew-discription">
                                        <?php echo $this->Form->input('event_flyer', array('id'=>'event_flyer', 'type'=>'file', 'label'=>false ,'div'=>false)) ?>
                                    </div>
                                </div>
                                <div class="add-new-event adddish">
                                    <?php echo $this->Html->image("calendaradd.png", array("alt"=>"event_cover_image"));?>
                                    <div class="addnew-discription">
                                        <?php echo $this->Form->input('event_cover_image', array('id'=>'event_cover_image', 'type'=>'file', 'label'=>false ,'div'=>false)) ?>
                                    </div>
                                </div>
                            </div>
                            <ul role="tablist" class="nav nav-tabs" id="myNewTab">                            
                            <li role="presentation"><a aria-controls="advanced" data-toggle="tab" id="advanced-tab" class="p_next_form fileupload" role="tab" href="#advanced">Next</a></li>
                            </ul>
                        </div>
                        <div aria-labelledby="advanced-tab" id="advanced" class="tab-pane fade silver" role="tabpanel">
                            <div class="content add-event advnce">
                                <div class="edit-field">
                                    <h5 class="drscode">Dress Code</h5>
                                    <label>Dress Code Tags</label>
                                    <?php echo $this->Form->input('event_dress_code', array('id'=>'event_dress_code','placeholder'=>'Dress Code','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                </div>
                                <div class="edit-field">
                                    <label>Dress Code Descriptions</label>
                                    <?php echo $this->Form->input('event_dress_code_description', array('id'=>'event_dress_code_description','placeholder'=>'Dress Code Description','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                </div>
                                <div class="edit-field">
                                    <h5 class="drscode">Music Style</h5>
                                    <label>Music Style Description</label>
                                    <?php echo $this->Form->input('music_style_description', array('id'=>'music_style_description','placeholder'=>'Music Style Description','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                </div>
                                
                                <div class="edit-field ticket-det" id="p_scents">
                            <h5 class="drscode">Ticket Detail</h5>
                            <div class="wdth100 pull-left">
                            <ul class="select-date">
                                <li><label for="event_ticket">Event Ticket</label><input name="data[Event][event_ticket][]" id="event_ticket" placeholder="Event Ticket" class="form-control" required="required" maxlength="255" type="text"/></li>
                                <li><label for="event_ticket_price">Event Ticket Price</label><input name="data[Event][event_ticket_price][]" id="event_ticket_price" placeholder="Event Price" class="form-control" required="required" type="text"/></li>
                                <li><label for="event_ticket_seats">Event Ticket Seats</label><input name="data[Event][event_ticket_seats][]" id="event_ticket_seats" placeholder="No of Seats" class="form-control" required="required" type="text"/></li>
                            </ul>
                            <ul class="select-date">
                            <label>Event Ticket Description</label>
                            <textarea name="data[Event][event_ticket_description][]" id="event_ticket_description" rows="5" cols="4" class="span6" required="required"></textarea>
                            </ul>
                        </div>
                            </div>
                            <div class="btn-group submit pull-left">
                                <!--<input type="submit" class="btn btn-warning" value="Add More Ticket Type" >-->
                            <button id="addScnt" class="btn btn-warning mgtop10" type="button">Add More Ticket Type</button>
                            </div>
                                <div class="edit-field">
                                    <h5 class="drscode">Other</h5>
                                </div>
                                

                                <div class="edit-field">
                                    <label >Website url</label>
                                    <?php echo $this->Form->input('website_url', array('id'=>'website_url','placeholder'=>'Website Url','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
                                </div>
                                <div class="edit-field">
                                    <label >Comments</label>
                                    <input type="checkbox" class="cmntcheck">
                                    <h6 class="cmttext">allow visitor to post comments about your event.</h6>
                                </div>
                            </div>
                            <ul role="tablist" class="nav nav-tabs" id="myNewTab">                            
                            <li role="presentation"><a aria-controls="guest" data-toggle="tab" id="guest-tab" class="dress_form" role="tab" href="#guest">Next</a></li>
                            </ul> 
                        </div>
                        <div aria-labelledby="guest-tab" id="guest" class="tab-pane fade diamond" role="tabpanel">
                            <div class="content add-event">
                                <div class="edit-field">
                                    <label>Show guestlist</label>
                                    <input type="checkbox" class="cmntcheckguestlist" id="lst">
                                    <h6 class="cmttext">allow guestlists for this event.</h6>
                                </div>
                                  <div class="show-guestlist" style="display:none;">
                                <div class="edit-field gstnoti">
                                    <label>Notification
                                        <a class="addtooltip" data-original-title="This email address will be used for notification when someone submits a guestlist request." href="#" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a>
                                    </label>
                                    <?php echo $this->Form->input('notification_email', array('id'=>'notification_email','placeholder'=>'Notification Email','class'=>'form-control option', 'label'=>false , 'div'=>false)) ?>
                                </div>
                                <div class="edit-field gstpls">
                                    <label>Guest "Plus" Max
                                        <a class="addtooltip" data-original-title="What is the maximun number of additional guests each applicant can request" href="#" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a>
                                    </label>
                                    <?php $max_num = array('1'=>'1','2'=>'2','3'=>'3','4'=>'4','5'=>'5',); ?>
                                    <?php echo $this->Form->input('plus_max', array('options'=>$max_num,'id'=>'plus_max','class'=>'form-control', 'label'=>false , 'div'=>false)) ?>
                                </div>
                                <div class="edit-field">
                                    <label>Auto approve
                                    </label>
                                    <input type="checkbox" class="cmntcheck">
                                    <h6 class="cmttext">Automatically approve guest list submissions.</h6>
                                </div>
                                <div class="edit-field">
                                    <label>Line Access
                                        <a class="addtooltip" data-original-title="Line access benefits for people on guestlist" href="#" data-toggle="tooltip" title=""><i class="fa fa-info-circle"></i></a>
                                    </label>
                                    <select class="form-control add-title" >
                                        <option value="VIP line Access">VIP line Access</option>
                                        <option value="Regular Line Access">Regular Line Access</option>
                                    </select>
                                </div>
                               <div class="edit-field">
                                    <label>Cover Charge</label>
                                    <select class="form-control add-title" >
                                        <option value="Complimentary cover charge">Complimentary cover charge</option>
                                        <option value="Discounted Cover Charge">Discounted Cover Charge</option>
                                        <option value="Regular Cover Charge">Regular Cover Charge</option>
                                    </select>
                                </div>
                                <div class="edit-field">
                                        <label>Cut Off Time:</label>
                                        <?php $options = array('0'=>'All Night', '1'=>'Before'); ?>
                                        <?php echo $this->Form->radio('cut_off_time',$options, array('id'=>'cut_off_time', 'class'=>'form-control', 'legend'=>false)); ?>
                                    </div>
                                <div class="edit-field">
                                    <label>Benifits</label>
                                    <?php echo $this->Form->textarea('benefits', array('id'=>'benefits','class'=>'form-control custom-control', 'div'=>false)) ?>
                                </div>
                                <div class="edit-field">
                                    <label>Additional Benifits</label>
                                    <?php echo $this->Form->textarea('additional_benefits', array('id'=>'additional_benefits','class'=>'form-control custom-control', 'div'=>false)) ?>
                                </div>
                                </div>
                                <div class="btn-group event-sub">
                                    <input type="submit" class="btn btn-warning guest_form" value="Save Event">
                          
                                </div>
                            </div>
                        <?php echo $this->Form->end(); ?>
                        </div>
                        </div>
                    </div>
                 </div>
               </div>     
            </div>
         <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript">
        jQuery(document).ready(function () {
			jQuery("#lst").change(function() {
          
           if(jQuery(this).is(':checked')){
            jQuery(".show-guestlist").css('display','block');
            } else {
            jQuery(".show-guestlist").css('display','none');    
            }
           });
			
        jQuery(".age_limit").click(function () 
        {
        $id = jQuery(this).val();
             
            if($id == 0)
            {
                jQuery('.age-lmt').css('display','block'); 
                
            }
             if($id == 1)
             {
                jQuery('.age-lmt').css('display','none'); 
             }   
         });

        jQuery(".next_form").click(function () 
        {
            var isValid = true;  
             var val= jQuery('.bootstrap-tagsinput input[type="text"]').val();                  
            jQuery('.gold input[type="text"]').each(function() {    
                              
            if(jQuery(this).val() =="")
             {              
                isValid = false;
                jQuery(this).css({"border": "1px solid red","background": "#FFCECE"});
                
              if(val=='')
              {
                  jQuery('.bootstrap-tagsinput input[type="text"]').css({"border": "","background": ""});
              }
                
            }    
           else {
                jQuery(this).css({"border": "","background": ""});  
                return true;
           }
           });
           
          
           
         <!--  jQuery(".cmntcheckguestlist").change( function () { alert('hiiii');
			   
            //if(jQuery(this).is(':checked')){
            //jQuery(".show-guestlist").css('display','block');
            //} else {
            //jQuery(".show-guestlist").css('display','none');    
          //  }
        //}); -->
           
           //alert(jQuery('#sub_cat_id').val());
            if(jQuery('#cat_id').val() == "")
                    {
                        jQuery('#cat_id').css({ "border": "1px solid red","background": "#FFCECE" });                    
                        return false;
                    }
                 else {
                        jQuery('#cat_id').css({"border": "","background": ""});  
                        return true;
                      }
                       if(jQuery('#sub_cat_id').val() =="")
                    {
                        jQuery('#sub_cat_id').css({ "border": "1px solid red","background": "#FFCECE" });                    
                        return false;
                    }
                 else {
                        jQuery('#sub_cat_id').css({"border": "","background": ""});  
                        return true;
                       }
         });

        jQuery(".dress_form").click(function () 
        {
            var isValid = true;   
            // var val= jQuery('.bootstrap-tagsinput input[type="text"]').val();           
            jQuery('.silver input[type="text"]').each(function() {      
                               
            if(jQuery(this).val() =="" )
             {              
                isValid = false;
                jQuery(this).css({"border": "1px solid red","background": "#FFCECE"});
             
            }    
           else {
                jQuery(this).css({"border": "","background": ""});  
                return true; 
           }
           });
              return isValid;
         });

        jQuery(".guest_form").click(function () 
        {
            var isValid = true;             
            jQuery('.diamond input[type="text"]').each(function() {      
                               
            if(jQuery(this).val() =="" && !jQuery(this).hasClass('option'))
             {              
                isValid = false;
                jQuery(this).css({"border": "1px solid red","background": "#FFCECE"});
            }    
           else {
                jQuery(this).css({"border": "","background": ""});  
                return true;
           }
           });
           return isValid;
         });

        var scntDiv = jQuery('#p_scents');
        //var i = jQuery('#p_scents p').size() + 1;
        var i = 1;
        //alert(i);
        jQuery('#addScnt').on('click', function() {
                jQuery(scntDiv).append('<div class="wdth100 pull-left"><ul class="select-date"><li><label for="event_ticket">Event Ticket</label><input name="data[Event][event_ticket][]" id="event_ticket_'+i+'" placeholder="Event Ticket" class="form-control" required="required" maxlength="255" type="text"/></li><li><label for="event_ticket_price">Event Ticket Price</label><input name="data[Event][event_ticket_price][]" id="event_ticket_price_'+i+'" placeholder="Event Price" class="form-control" required="required" type="text"/></li><li><label for="event_ticket_seats">Event Ticket Seats</label><input name="data[Event][event_ticket_seats][]" id="event_ticket_seats_'+i+'" placeholder="No of Seats" class="form-control" required="required" type="text"/></li></ul><ul class="select-date"><label>Event Ticket Description</label><textarea name="data[Event][event_ticket_description][]" id="event_ticket_description_'+i+'" rows="5" cols="4" class="form-control" required="required"></textarea></ul></div>');
                i++;
                return false;
        });

    jQuery(".fileupload").click(function () 
         {
            var isValid = true;             
            jQuery('.fileup').each(function() {  
                               
            if(jQuery(this).val() =="" )
             {              
                isValid = false;
                jQuery(this).css({"border": "1px solid red","background": "#FFCECE"});
            }    
           else {
                jQuery(this).css({"border": "","background": ""});  
                return true;
           }
           });
              return isValid;
         });
         
        });
   
  </script>

  <script type="text/javascript">
            $(function () {
                var nowTemp = new Date();
                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

                var checkin = $('#dpd1').datepicker({
                    onRender: function (date) {
                        return date.valueOf() < now.valueOf() ? 'disabled' : '';
                    }
                }).on('changeDate', function (ev) {
                    if (ev.date.valueOf() > checkout.date.valueOf()) {
                        var newDate = new Date(ev.date)
                        newDate.setDate(newDate.getDate() + 1);
                        checkout.setValue(newDate);
                    }
                    checkin.hide();
                    $('#dpd2')[0].focus();
                }).data('datepicker');
                var checkout = $('#dpd2').datepicker({
                    onRender: function (date) {
                        return date.valueOf() < checkin.date.valueOf() ? 'disabled' : '';
                    }
                }).on('changeDate', function (ev) {
                    checkout.hide();
                }).data('datepicker');
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
  <script>
  function checkAge() {
    var start = jQuery("#event_start_age").val();
    var end = jQuery("#event_end_age").val();
    //alert(start);
    //alert(end);
    if(start > end) {
        alert("Ending age cannot be less than Starting age");
        return false;
        } 
    }
    
    function categorySelected() {
    var id = jQuery("#cat_id").val();
    if(id == 1) {
        jQuery("#sub_cat_id").find('option').remove().end();
        jQuery("#sub_cat_id").append(jQuery("<option>",{value: 'All',text: 'All'}));
        } else {
    jQuery.ajax({
                        type: "POST",
                        url: 'http://dev.staplelogic.in/worldstashdev/subcategories/getSubcategories',
                        data: {id: id},
                        success: function(message){
                        var options = jQuery.parseJSON(message);
                        jQuery("#sub_cat_id").find('option').remove().end();
                        jQuery("#sub_cat_id").append('<option value="All">All</option>');
                        jQuery.each(options, function(key, value) {
                           jQuery("#sub_cat_id").append(jQuery("<option>",{
                            value: key,
                            text: value
                            }));
                        });
                        },
                        
                    });
    }
    }
  </script>

