<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<link rel="stylesheet" type="text/css" href="/worldstashdev/css/style.css" />	
<title>Stripe Payment</title>
</head>
<body>
	<?php 
$publishKey = "pk_test_72RUKoZX2PaWsahDkG3nMbWR"; 
$securityKey = "sk_test_KpTtASJWp5HxkJfXSuVBY6Du";
?><section class="main-cont">
  <div class="left-side-add"> </div>
  <div class="center-cont">
<h1>Stripe Payment Test</h1>
<p>Price: 15.00$</p>
<p>Note: Click on the below button to proceed</p>

 <?php echo $this->Form->Create('',array('id'=>'stripe_payment1','enctype'=>'multipart/form-data','action'=>'charge')) ?>
  <script    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_72RUKoZX2PaWsahDkG3nMbWR"
    data-image="http://staplelogic.com/img/logo.png"
    
    data-name="worldstashdev"
    data-description="Pay"
    data-amount="1500">
  </script>

<?php echo $this->Form->end(); ?>
<?php /*
<section class="main-cont">
  <div class="left-side-add"> </div>
  <div class="center-cont">
      <h2>Card Info </h2>
    <?php echo $this->Form->Create('',array('id'=>'stripe_payment','enctype'=>'multipart/form-data')) ?>
     
    <?php echo $this->Form->input('email', array('id'=>'email','placeholder'=>'Email Address','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
<hr>
    <?php echo $this->Form->input('number', array('id'=>'number','placeholder'=>'Card Number','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
<hr>
    <?php echo $this->Form->input('exp_month', array('id'=>'exp_month','placeholder'=>'Expiry Month','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
<hr>
    <?php echo $this->Form->input('exp_year', array('id'=>'exp_year','placeholder'=>'Exp Year','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>
<hr>
    <?php echo $this->Form->input('cvc', array('type'=>'password','id'=>'cvc','placeholder'=>'CVC Number','class'=>'form-control', 'label'=>false , 'required'=>'required', 'div'=>false)) ?>

    <?php echo $this->Form->input('event_id', array('type'=>'hidden','id'=>'event_id','class'=>'form-control', 'value'=>$event_detail['Event']['id'] ,'label'=>false , 'required'=>'required', 'div'=>false)) ?>

    <?php echo $this->Form->input('event_owner_id', array('type'=>'hidden','id'=>'event_owner_id','class'=>'form-control', 'value'=>$event_detail['User']['id'] ,'label'=>false , 'required'=>'required', 'div'=>false)) ?>

    <?php echo $this->Form->input('total_type', array('type'=>'hidden','id'=>'total_type','class'=>'form-control', 'value'=>$ticket_type,'label'=>false , 'required'=>'required', 'div'=>false)) ?>

    <?php echo $this->Form->input('total_tickets', array('type'=>'hidden','id'=>'total_tickets','class'=>'form-control', 'value'=>$ticket_num ,'label'=>false , 'required'=>'required', 'div'=>false)) ?>
    
    <input type="submit" name="" class="btn-card-info crd-mrgn" value="Pay" id="">
    <?php echo $this->Form->end(); ?>
  </div>
</section>

</body>
</html> */ 

