<div class="container">
            <div class="col-sm-9  col-md-9  main">
                    <div class="content">
                    	<?php //pr($payment); ?>
                            <h2 class="dash-header">You Payment is <?php echo $data['Payment']['transaction_status'];?></h2>

                            <ul class="order-status">
                            	<li>Your order no. is <?php echo $payment['Payment']['order_number'];?></li>
                            </ul>
                          <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                    </div>
             </div>
    </div>