             <div class="event-main thumbeve" id="masonry">
                <h2><?php echo $cat_name; ?> Events</h2>
                <?php $id = base64_encode(0); ?>
                <?php $newid = base64_encode($cid); ?>
                
                <?php 
                
                
             //   pr($all_subcategories); die('here');
                
                if($all_subcategories == '' || $all_subcategories == ""){ //die('hii');?>
					<div class="event itemeve">
                    <a href="#">
                        <span>
                            <span> No Record Found</span>
                        </span>
                    </a>
                </div>
                <?php } else { ?>
                <div class="event itemeve">
                    <a href="events-lists?eid=<?php echo $newid; ?>">
                        <span>
                            <span> All </span>
                        </span>
                        <?php echo $this->Html->image("all.png", array("alt"=>"event_img"));?>
                    </a>
                </div>
                <?php $i = 0; foreach ($all_subcategories as $subcategories) { $i++; ?>
				<?php $id = base64_encode($subcategories['Subcategory']['id']);?>
                <?php if(empty($subcategories)) { ?>
					
					<?php } else { ?>
                <div class="event itemeve">
                    <a href="events-list?eid=<?php echo $id; ?>">
                        <span>
                            <span><?php echo $subcategories['Subcategory']['subcategory_name'];?></span>
                        </span>
                        <?php if(empty($subcategories['Subcategory']['subcategory_image'])) { ?>
                        <?php echo $this->Html->image("calendaradd.png", array("alt"=>"subcategory_image"));?>
                        <?php } else { ?>
                         <?php echo $this->Html->image($subcategories['Subcategory']['subcategory_image'], array("alt"=>"subcategory_image"));?>
                        <?php } ?>
                    </a>
                </div>
                <?php } } } ?> 
            </div>
        </div>
        <?php if($i<3){?>
        <style type="text/css">
            #masonry{min-height: 300px;}
        </style>
        <?php }?>
