<div class="col-sm-9  col-md-9  main">
                <div data-example-id="togglable-tabs" role="tabpanel" class="bs-example bs-example-tabs">
                    <ul role="tablist" class="nav nav-tabs" id="myTab">
                        <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#general">Add New Category</a></li>
                        <li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#images">View Categories</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div aria-labelledby="home-tab" id="general" class="tab-pane fade in active" role="tabpanel">
                            <div class="content add-event">
                            <?php echo $this->Form->create('',array('id'=>'add_category', 'enctype'=>'multipart/form-data')) ?>
                            <div class="edit-field">
                <?php echo $this->Form->input('category_name', array('id'=>'category_name','placeholder'=>'Category Name','class'=>'form-control', 'required'=>'required', 'div'=>false )) ?>
                                </div>
                            <div class="add-new-event adddish">
                                    <?php echo $this->Html->image("calendaradd.png", array("alt"=>"logo"));?>
                                    <div class="addnew-discription">
                                        <?php echo $this->Form->input('category_image', array('id'=>'category_image', 'type'=>'file', 'label'=>false ,'div'=>false,'class'=>'fileup')) ?>
                                    </div>
                                </div>
                            <div class="btn-group event-sub">
                                    <input type="submit" class="btn btn-warning fileupload" value="Save Category">
                            </div>
                            </div>
                            <?php echo $this->Form->end(); ?>
                            </div>
                            <div aria-labelledby="profile-tab" id="images" class="tab-pane fade" role="tabpanel">
                            <div class="content add-event">
                                
                                <?php foreach($all_categories as $categories) { 
                                $id = base64_encode($categories['Category']['id']);
                                ?>
                                <div class="add-new-event adddish">
                                    <?php echo $this->Html->image($categories['Category']['category_image'], array("width"=>"100px","height"=>"100px","alt" => "Logo")) ?>
                                    <div class="addnew-discription">
                                        <h4><?php echo $categories['Category']['category_name']; ?></h4>
                                    </div>
                                    <div class="adddel">
                                       <a href='edit-category?cid=<?php echo $id; ?>'><button type="button" class="btn btn-warning">Edit</button></a>
                                       <a href="delete-category?cid=<?php echo $id; ?>"><button type="button" onclick="if (confirm('Are you sure you want to delete this Category ?')) { return true; } return false;" class="btn btn-danger">Delete</button></a>
                                    </div>
                                </div>
                                <?php } ?>
                           
                            </div> 
                        
                    </div>
                </div>
          </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
 jQuery(document).ready(function () {
 jQuery(".fileupload").click(function ()        {
            var isValid = true;             
            jQuery('.fileup').each(function() {  
                               
            if(jQuery(this).val() =="" )
             {              
                isValid = false;
                jQuery(this).css({"border": "1px solid red","background": "#FFCECE"});
            }    
           else {
                jQuery(this).css({"border": "","background": ""});  
                return true;
           }
           });
              return isValid;
         });
 });

</script>
