<div class="event-main wrd-about">
                <div class="sld-about">
                    <h2 class="dash-header">About Us</h2>
                            <?php echo $content['Setting']['about_us']; ?>
                </div>
            </div>
        </div>