<div class="event-main wrd-about">
                <div class="sld-contct">
                            <h2 class="dash-header">Contact Us</h2>
                             <div class="contat-form">
								<form action="contact-us" method="post">
									<!--<label>Name</label>-->
									<input type="text" placeholder="Name" name="data[User][user_name]">
									<!--<label>Email</label>-->
									<input type="email" placeholder="Email" name="data[User][email_id]">
									<!--<label>Phone</label>-->
									<input type="text" placeholder="Phone" name="data[User][phone_number]">
									<!--<label>Address</label>-->
									<textarea placeholder="Address" rows="4" name="data[User][address]" ></textarea>

									<input type="submit" value="Submit" class="submit">
								</form>
							 </div>
							 <div class="contact-map">
							 <h2>Address:</h2>
							 <img src="/worldstashdev/img/cont-map.png">
							 <div class="add-left">
							  <p>250 lorem ipsum</p>
							  <p>lorem 1003</p>
							  <p>New York, NY 2202</p>
							 </div>
							 <div class="add-right">
							  <p>Tel: 234 234 5678</p>
							  <p>Fax: 454 565 4565</p>
							 </div>
                        </div>
            </div>
        </div>