<div class="col-sm-9  col-md-9  main">

                <div data-example-id="togglable-tabs" role="tabpanel" class="bs-example bs-example-tabs">
                    <ul role="tablist" class="nav nav-tabs" id="myTab">
                        <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#general">My Orders</a></li>
                        <!--<li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#images">Additional Information</a></li>-->
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div aria-labelledby="home-tab" id="general" class="tab-pane fade in active" role="tabpanel">
                            <div class="content add-event ticket-sold full-width">
                                <?php if(empty($user_orders)) { ?>
                                <p> No Order Placed </p>
                                <?php } ?>
                                <?php $count = 1;?>
                                <?php foreach($user_orders as $order) { 
                                $id = base64_encode($order['Payment']['id']);
                                
                                ?>
                                <div class="add-new-event adddish">
								<div class="adddel revenue">
                                    <img src="/worldstashdev/app/webroot/images/user/dance_7.jpg" width="100%">
								</div>
                                    <div class="adddel revenue order-dtl">
                                        <p><i class="fa fa-ticket"></i> <span class="ordr-heading"><strong> Order Number:</strong></span> <span class="ordr-value"><?php echo $order['Payment']['order_number'];?></span></p>
                                        <p><i class="fa fa-ticket"></i> <span class="ordr-heading"><strong> Tickets Type:</strong></span> <span class="ordr-value"><?php echo $order['Payment']['total_type'];?></span></p>
                                        <p><i class="fa fa-money"></i> <span class="ordr-heading"><strong><strong> Total Tickets:</strong></span> <span class="ordr-value"><?php echo $order['Payment']['total_tickets'];?></span></p>
                                    </div>
                                    <input type="hidden" name="event_id" id="event_id" value="<?php echo $order['Payment']['event_id'] ?>"/>
                                    <div class="eventdetailresult"></div>
                                    <!--<button type="button" class="btn btn-warning" id="showeventdetail_<?php echo $count;?>">Show Event Detail</button>-->
                                </div>
                                <?php $count = $count + 1; } ?>  
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
<!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
            <script>
 jQuery(document).ready(function(){
    var count = 1;
             jQuery("#showeventdetail_"+count).on('click',function(){  
                var id= jQuery('#event_id').val();
                alert(id); return false;
 jQuery.ajax({
             url: "http://dev.staplelogic.in/worldstashdev/events/showeventdetail",            
             type:"POST",
             data: ({id:id}),     
             success:function(data)
   {
            
            var innerdiv = jQuery.parseJSON(data);
            //console.log(innerdiv);
            //alert(innerdiv[0]['Event'].event_title);
            //return false;
            jQuery.each(innerdiv, function(i) {
                jQuery(".eventdetailresult").append('<div class="add-new-event guestlist"><h5> Event Name: '+innerdiv[i]['Event'].event_title+'</h5><h4> Event Description: '+innerdiv[i]['Event'].event_description+'</h4><p> Event Start Date: '+innerdiv[i]['Event'].event_start_date+'</p></div>');                                         
            });
            jQuery("#showeventdetail_<?php echo $order['Payment']['id'];?>").hide();
   }
 })
             })
});
</script>-->