<div class="col-sm-9  col-md-9  main">
                    <div class="content">
                            <h2 class="dash-header">Welcome to World stash, <?php echo $user_detail['first_name'];?>! </h2>
                            <p>
                                Check your messages, view upcoming trip information, and find travel inspiration all from your dashboard. Before booking 
                                your first stay, make sure to: 
                                
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic
                                
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic
                            </p> 
                        </div>
             </div>