<div class="event-main wrd-about">
                <div class="sld-about">
                    <h2 class="dash-header">Privacy</h2>
                            <?php echo $content['Setting']['privacy'];?>
                </div>
            </div>
        </div>