<div class="event-main wrd-about">
                <div class="sld-about">
                    <h2 class="dash-header">Team</h2>
                            <?php echo $content['Setting']['team']; ?>
                </div>
            </div>
        </div>