<div class="event-main wrd-about">
                <div class="sld-about">
                    <h2 class="dash-header">Terms of Use</h2>
                            <?php echo $content['Setting']['terms_of_use'];?>
                </div>
            </div>
        </div>