<div class="event-main wrd-about">
                <div class="sld-about">
                    <h2 class="dash-header">Terms Of Use</h2>
                            <p>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.  
                                <a class="dash-complete" href="#">LOREM IPSUM LOREM IPSUM</a>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. 
                                <a class="dash-complete" href="#">IPSUM LOREM IPSUM LOREM</a>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. 
                            </p> 
							<p>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a . Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.  
                                <a class="dash-complete" href="#">LOREM IPSUM LOREM IPSUM</a>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. 
                                <a class="dash-complete" href="#">IPSUM LOREM IPSUM LOREM</a>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.  Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. 
                            </p> 
							<p>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a . Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.  
                                <a class="dash-complete" href="#">LOREM IPSUM LOREM IPSUM</a>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. 
                                <a class="dash-complete" href="#">IPSUM LOREM IPSUM LOREM</a>
                                Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.  Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. 
                            </p>
                </div>
            </div>
        </div>